[2017-08-08 11:21] dhruvmalik007 opened #4 "AttributeError: module 'qiskit' has no attribute 'unroll'"
when i try to import the library
`from qiskit import QuantumProgram`
`qp = QuantumProgram()`

i get pesky error

` AttributeError                            Traceback (most recent call last)
<ipython-input-13-0092c73e2d1c> in <module>()
----> 1 from qiskit import QuantumProgram
      2 qp = QuantumProgram()

~/qiskit-sdk-py/qiskit/__init__.py in <module>()
      8 from ._qiskitexception import QIS

[2017-08-15 03:21] rraymondhp commented on #4
Hi, sorry for the late response. Are you using the latest qiskit as below:
https://github.com/QISKit/qiskit-sdk-py

Please make sure that you are installing the latest QuantumProgram. I suspect that your environment refers to the older version of the QuantumProgram.

[2017-08-21 04:53] attp opened #13 "ImportError: cannot import name 'Energy_Estimate_Exact' in Quantum Optimization Notebook"
Import error when running the first code block:
[code]
Function missing from [https://github.com/QISKit/qiskit-sdk-py/blob/master/tools/apps/optimization.py](https://github.com/QISKit/qiskit-sdk-py/blob/master/tools/apps/optimization.py)

[2017-08-22 04:11] attp commented on #13
Function found in dev branch. https://github.com/QISKit/qiskit-sdk-py/blob/dev/tools/apps/optimization.py

[2017-08-22 04:11] #13 closed

[2017-08-23 12:22] jaygambetta commented on #4
I am going to close this. I updated the readme to say use version r0.3.

[2017-08-23 12:22] #4 closed

[2017-08-24 23:13] taojiastanford opened #18 "How to use classical "if" control"
I was trying the teleportation circuit, which requires control using classical registers. The code is the following:
`include "qelib1.inc";
qreg q[5];
creg c0[1];
creg c1[1];
creg c2[1];

h q[0];
t q[0];
h q[0];
cx q[0],q[1];
h q[0];
measure q[0] -> c0[0];
measure q[1] -> c1[0];
if (c0==1)
	x q[2];
if (c1==1)
	z q[2];
measure q[2] -> c2[0];
`
And I got error:

Which refers to the "if" operation. H

[2017-08-25 01:12] jaygambetta commented on #18
@taojiastanford what backend are you using. If is not supported in real devices yet.

[2017-08-25 02:02] taojiastanford commented on #18
Dear Dr. Gambetta,
Thank you for your reply!
I was using the composer linked to ibmqx2, but this error also disables  "simulate".
Sincerely,
Tao Jia

----------
Tao Jia
PhD Candidate
Stanford University
Tel: 6503871627

[2017-08-25 05:19] rraymondhp commented on #18
@jaygambetta
Is the following control-if supported in the real device? I have been using it with the simulator:
[code]

[2017-08-25 11:09] jaygambetta commented on #18
@rraymondhp all the qasm simulators should support this.

[2017-08-25 19:10] taojiastanford commented on #18
I also found that I could not create multiple classical registers. The following code:

qreg q[5];
creg c0[1];
creg c1[1];
h q[0];
t q[0];
h q[0];
cx q[0],q[1];
h q[0];
measure q[0] -> c0[0];
measure q[1] -> c1[0];

This does not have compile error, but when I tried to simulate it I found "Generic error".
Am I supposed to only use one classical register?

[2017-08-28 15:23] rraymondhp commented on #18
Hello @taojiastanford
Sorry for the late response.

I confirmed that the code can be compiled and can run with the simulators. I believe you got the error message because you executed the qasm code (with QASM editor instead of the QISKit tutorial) using the topology of the real device on IBM Q experience, right? Is it correct?

If so, the error (bug) is due to the limitation of commands used to op

[2017-08-30 16:11] alfrisch opened #20 "symbolic link to qiskit tools not working under Windows"
## Expected Behavior
A symbolic link is in place in qiskit-sdk-py after moving tools into the folder qiskit.

## Current Behavior
When checking out qiskit-sdk-py under Windows the symbolic link is being converted into a textfile. Hence I get a NotFoundError when loading any tools.

## Possible Solution
Add "qiskit." to tools import statements.

## Steps to Reproduce (for bugs)
1. checkout qiskit-s

[2017-08-30 16:39] alfrisch commented on #20
I have prepared a pull request for fixing the NotFoundError, see pull request #21

[2017-08-30 18:52] alfrisch commented on #20
I also submitted a pull request in qiskit-sdk-py and double checked all occurences of tools imports.
After merging that request I suggest to remove the symbolic link.

[2017-08-30 19:04] jaygambetta commented on #20
I know but lets talk in that. I think i want you to push it to r0.3 and we need to update pip.

Thanks

[2017-08-31 14:02] alfrisch commented on #20
updates are pushed to r0.3, closing this issue

[2017-08-31 14:02] #20 closed

[2017-09-11 06:43] rraymondhp commented on #18
Hi Tao,
Thanks for your contribution. We really appreciate it.  Please just call me Raymond.

Meanwhile, about your questions, the real devices `ibmqx2` and `ibmqx3` has connectivity limitations: not all circuits that can be run on real devices, even though they can be run on simulators.   For example, if you use real devices, a measurement will end the execution of your program. In this case, the

[2017-09-11 12:37] jaygambetta commented on #18
@taojiastanford and @rraymondhp I think this issue is solved. I will close the thread but please open it again if there is more.

For the bug can you use the bug tracker on the IBM Q experience website.

Thanks

[2017-09-11 12:37] #18 closed

[2017-09-27 06:18] rraymondhp opened #32 "Typos in Mapping Dictionary"
The mapping of `ibmqx3` here has typos:
[code]
The map above overwrites key `4`.

https://github.com/QISKit/qiskit-tutorial/blob/27c882485e79d11f7793c343e4e0eba729ded253/1_introduction/compiling_and_running.ipynb

Thanks to @itoko who reported this.

[2017-10-05 02:07] #32 closed

[2017-10-20 22:23] kardashin opened #39 "Broken link"
Broken link in "Using IBM DSx for your notebooks" section of README.rst.
https://github.com/qiskit-tutorial/wiki/Running-Quantum-Program-on-IBM-DSx

[2017-10-21 15:46] #39 closed

[2017-10-30 16:02] hellmersjl3ds opened #45 "Update Backends in tutorial"
Hello, I'd like to update the notebook working_with_backends.ipynb with the latest backends.

What's the first step for me to make this contribution?  Create my own branch?

[2017-10-30 23:12] rraymondhp commented on #45
Hi, thank you for your interest.
We'd be glad to have your contribution.
The first step is to create your own fork (by clicking the `fork` link on the upper right corner).
Then you can work on the master branch of the fork (or, create a new branch), and do the updates.
After finishing the updates, you can issue pull request to merge your changes.

Please let me know if you need any other informati

[2017-10-31 14:23] hellmersjl3ds commented on #45
Thanks.  That's enough to get me started.

BTW, do you know if they ever plan an bringing ibmqx2 back online?  It's been down for quite a long time now.

[2017-11-01 15:23] hellmersjl3ds commented on #45
OK I created the pull request and it says some conflicts need to be resolved.  They look pretty minor.  Is that something I can do?

[2017-11-02 22:44] dtchang opened #47 "Errors from "superposition_and_entanglement""
TypeError                                 Traceback (most recent call last)
<ipython-input-6-dbdbc3e89bf4> in <module>()
----> 1 plot_histogram(result.get_counts('ground'))

C:\Anaconda\Anaconda3\lib\site-packages\qiskit\_quantumprogram.py in get_counts(self, name)
   1298         """
   1299         try:
-> 1300             return self.get_data(name)['counts']
   1301         except KeyError:

[2017-11-03 11:15] diego-plan9 commented on #47
Thanks @dtchang - it seems the actual issue might be in input cell 5, which is where the data for the plotting is calculated:
[code]

Could you please paste the output of that cell in your environment?

[2017-11-03 17:05] dtchang commented on #47
Here it is, after 100 seconds:

status = RUNNING (100 seconds)
status = RUNNING (110 seconds)
status = RUNNING (120 seconds)
status = RUNNING (130 seconds)
status = RUNNING (140 seconds)
status = RUNNING (150 seconds)
status = RUNNING (160 seconds)
status = RUNNING (170 seconds)
status = RUNNING (180 seconds)
status = RUNNING (190 seconds)
status = RUNNING (200 seconds)
status = RUNNING (210 secon

[2017-11-03 18:35] dtchang opened #48 "CNOT representation in "superposition and entanglement""
The CNOT representation should follow the standard (Wiki, Nielson & Chuang, etc.) used in the quantum community. A non-standard, IBM Q unique, representation is not helpful to the user.

[2017-11-06 06:57] rraymondhp commented on #48
Hi,
I agree with you that the standard notation is the best. This can be done once we swap the order of the qubits, from left to right instead of the current from right to left. I have noticed this in this tutorial:
https://nbviewer.jupyter.org/github/QISKit/qiskit-tutorial/blob/master/1_introduction/quantum_gates_and_linear_algebra.ipynb

[code]

[2017-11-10 09:14] ievutec opened #50 "Type error in result.get_counts()"
I've run a couple of circuits on the 'ibmqx5' backend but realised that the optimisation of the circuit is probably making it give out the wrong amplitudes. I've attempted to fix this by adding a few barriers and ran it again but (3 times in a row) an error message came up and I narrowed it down to being solely due to the get_counts() method. Here's the error message:

Traceback (most recent call

[2017-11-10 09:21] ievutec commented on #50
Note: the get_data() method seems to fail for the same reason:

Traceback (most recent call last):
  File "mbqc-simulation.py", line 194, in <module>
    counts = result.get_data('MBQC')
  File "/Users/TheProtonCat/anaconda/lib/python3.5/site-packages/qiskit/_quantumprogram.py", line 1282, in get_data
    return self.__result['result'][index]["data"]
TypeError: string indices must be integers

[2017-11-10 09:44] #50 closed

[2017-11-17 02:53] hellmersjl3ds commented on #45
Changes merged.

[2017-11-17 02:53] #45 closed

[2017-11-17 09:35] jaygambetta commented on #48
@dtchang was discuss many times between us. Either you have to give up on the standard bits order, or the standard tensor order of gates using by quantum text books. Since the computer science community is much larger than quantum we decided to go with the standard bit order and have 0001 be qubit 0 in the excited state. It make associating the classical outcome with the bits simpler. The tutorial

[2017-11-17 09:35] #48 closed

[2017-11-24 07:31] rraymondhp commented on #47
Hello @dtchang

Is your issue solved with what @diego-plan9 told you? I hope so  and I can close this issue.

[2017-11-24 19:44] dtchang commented on #47
No. As I have indicated in my comments, this issue occurred in multiple places ("# Quantum Circuit Superposition", "# Quantum circuit two Hadamards", etc.). Someone from the IBM Q team should try the tutorial from a Windows machine.

[2017-11-24 20:24] diego-plan9 commented on #47
@dtchang,

could you please try modifying the lines that read:
[code]

increasing the timeout from 240 to a higher value (for example, 480), and re-run those cells? As mentioned on the other comment, the output you pasted seems to indicate that the execution took too long and time out, as shown by the last lines:

[code]

The lines with `result = Q_program.execute()` "populate" the `results` varia

[2017-11-24 22:48] dtchang commented on #47
I increased the timeout from 240 to 480 on two of the runs and reran them. The same error occurred on both.

[2017-11-25 16:12] rraymondhp commented on #47
I also had the same `timeout` running with Mac. So I believe this is a problem with long queue time.  there are only a few real devices serving many queues, and they may not be able to serve your jobs within the timeout limit.

[2017-11-25 18:02] dtchang commented on #47
This is a discouraging news.

[2017-11-28 01:09] jaygambetta commented on #47
We are improving the timeout and we had some network issues are you still seeing this error.

[2017-11-28 19:02] dtchang commented on #47
Thanks for the effort. I just tried two different runs with the default timeout of 240 seconds. Still encountered this error in both runs.

[2017-11-30 18:47] AshleyZhao opened #62 "ImportError: No module named 'Qconfig'"
## Description

Trying to run this code in the Jupyter notebook superposition_and_entanglement:
[code]
Gives the following error:
[code]
Already added these code following the Readme before the cell where the error occurs:
[code]
[code]
[code]
The first two code cells run successfully, however the last one gives me a permission-denied error to write:
[code]
And Qconfig is still not found.

## Your

[2017-11-30 19:00] hellmersjl3ds commented on #62
I don't know if this is the "right way" to resolve this issue or not, but I usually use a Qconfig.py from my qiskit-sdk-py folder.  If you don't have that file, you'll need modify Qconfig.py.default from the qiskit-sdk-py repository with your API Token from the Quantum Experience and copy as Qconfig.py to your qiskit-tutorial folder.

It seems like there should be a better way to do this, but that

[2017-12-03 11:15] tt7533 opened #63 "missing iterative_phase_estimation_algorithm.ipynb"
There is a link to "iterative_phase_estimation_algorithm.ipynb" in the index notebook but unfortunately I cannot find it anywhere.

[2017-12-06 08:54] diego-plan9 commented on #62
@AshleyZhao, do you have a `Qconfig.py` on the root folder of your repository? After reading the description of the issue, I'm still not sure it is the case - as @hellmersjl3ds mentioned, the right way is indeed to create a `Qconfig.py` file that contains your details from Quantum Experience. Could you please check step 4 of https://github.com/QISKit/qiskit-tutorial#1-install-the-qiskit-sdk ?

As

[2017-12-06 10:16] westurner opened #64 "Add a Binder badge"
## Description

You could add a Binder badge to launch the Jupyter notebooks in a cloud instance

Homepage: https://mybinder.org
Src: https://github.com/jupyterhub/binderhub
Docs: https://binderhub.readthedocs.io/en/latest/

https://github.com/QISKit/qiskit-sdk-py/issues/177

## Your Environment
binder builds cloud containers with repo2docker.
repo2docker will install from requirements.txt and/or

[2017-12-06 10:18] westurner commented on #64
``conda env export -f environment.yml``
https://conda.io/docs/user-guide/tasks/manage-environments.html#exporting-the-environment-file

[2017-12-10 01:11] ionuttamas opened #65 "'BinaryOp' object has no attribute 'sym' error"
## qp.compile fails

When running the [getting started notebook](https://github.com/QISKit/qiskit-tutorial/blob/stable/1_introduction/getting_started.ipynb) :
[code]

I get the following error: 'BinaryOp' object has no attribute 'sym'

* Tutorial branch (stable/master): master
* QISKit SDK version: master version
* Python version: 3.6

[2017-12-12 16:52] diego-plan9 commented on #65
Thanks for reporting, @ionuttamas ! As https://github.com/QISKit/qiskit-sdk-py/pull/171 has just been merged, can you check if the current `master` version of the SDK solves the issue you described on your environment?

[2017-12-13 21:45] rraymondhp commented on #63
We mistakenly deleted it and now are working to recover it. Thanks for pointing it out.

[2017-12-16 21:58] ionuttamas commented on #65
Yup works great now. Thanks!

[2017-12-16 21:58] #65 closed

[2017-12-25 09:22] rraymondhp commented on #63
This issue is addressed by
https://github.com/QISKit/qiskit-tutorial/pull/69
and
https://github.com/QISKit/qiskit-tutorial/pull/68

[2017-12-26 10:51] rraymondhp commented on #47
I am now running okay without encountering timeout issues. Would you mind trying again?

[2017-12-26 10:54] rraymondhp commented on #64
Hi,
Thank you very much! This seems cool indeed. Would you be able to explain steps to do that? Perhaps writing a blog or an article on how to run notebooks in the tutorial here will be very nice to people who are not familiar to github and just want to run the tutorials.

[2017-12-26 16:08] westurner commented on #64
# Add a Binder badge to README.rst

( Ensure that binder (repo2docker) can install the necessary dependencies with an e.g. environment.yml )

1. Enter the URL and file path into the form at mybinder.org
2. Click the badge icon
3. Copy the RST source to the clipboard
4. Paste the Binder SVG badge link RST source to ``README.rst``:

[code]

(Near the top / 'above the fold' of the README?)

# Launch

[2017-12-27 06:15] rraymondhp commented on #64
Many thanks! It seems to work pretty well and so easy!!
However, this notebook produces error when run with mybinder
`1_introduction/getting_started.ipynb`

[2017-12-27 12:37] westurner commented on #64
Interesting. I jumped ahead to 2. "Superposition and Entanglement" and that seemed to work okay.

The given notebook seems to open in nbviewer just fine; so the JSON isn't a problem with whichever component versions are live on nbviewer.  IDK why there's a Unicode symbol ``\ufeff`` in the JSON? Maybe that's normal? I would need to get to a terminal with hexdump or xxd to take a look.

The complete

[2017-12-27 18:44] neilnelson opened #72 "Unreadable Notebook: qiskit-tutorial-master/1_introduction/getting_started.ipynb"
On http://localhost:8888/notebooks/qiskit-tutorial-master/index.ipynb#section1

Link
Getting started with QISKit SDK - how to use QISKit SDK.

Obtained
Unreadable Notebook: /home/nnelson/environments/qiskit-tutorial-master/1_introduction/getting_started.ipynb NotJSONError('Notebook does not appear to be JSON: \'\\ufeff{\\n "cells": [\\n {\\n "cell_typ...',)

New installation from instructions at
F

[2017-12-28 02:13] rraymondhp commented on #72
Thanks for pointing this. I have fixed the file with this PR:
https://github.com/QISKit/qiskit-tutorial/pull/73
Please update your master branch and see if it works. It seems that the stable branch has no problem.

[2017-12-28 02:13] rraymondhp commented on #64
Thanks. It appears that the error is due to the file getting_started.ipynb that I fixed just now.
https://github.com/QISKit/qiskit-tutorial/issues/72

[2017-12-28 03:32] neilnelson commented on #72
Downloaded https://github.com/QISKit/qiskit-tutorial/archive/master.zip

Loaded the new version into Jupyter.

Clicked on the Getting started with QISKit SDK - how to use QISKit SDK.

Worked OK.

[2017-12-28 03:32] #72 closed

[2017-12-29 19:31] dtchang commented on #47
I just tried, back from a trip. Two runs still had timeout issues (240 secs). Others finished in time. Glad to see the improvement.

[2017-12-30 02:27] rraymondhp commented on #47
Hi, here is my running and it works fine without changing anything in the tutorial:
https://github.com/rraymondhp/qiskit-tutorial/blob/rr-issue47/2_quantum_information/superposition_and_entanglement.ipynb

[2017-12-30 22:44] EvanKepner opened #74 "Suggestion on managing API and URL via environment vars for real devices"
Hey just started this tutorial, love that you are putting this together. One suggestion for the introduction when it comes to the real device configuration - have the users put their API key and the URL into environment variables instead of into local Python files. This removes the risk of people accidentally committing to public repos and exposing their keys.

The following would be changed:

1.

[2017-12-31 02:13] rraymondhp commented on #74
Hi, many thanks! This is a very nice suggestion. I wonder how to do a similar thing with Windows environment. I think this should also be considered at `qiskit-sdk-py`.

[2017-12-31 03:53] EvanKepner commented on #74
For sure! I think it varies by Windows version (unfortunately I don't have a system to test on) where you can set environment variables under the advanced system settings.

If you are open to accepting pull requests I would be happy to add instructions in the README to provide the alternative example with `os.getenv()`. If the `QConfig.py` file is used in multiple notebooks it could take some time

[2017-12-31 04:04] rraymondhp commented on #74
Many thanks! Please feel free to add instructions in the README. I personally agree to have more options and make things simpler if possible. I think your suggestion is a good way towards, but we need to discuss it with those in `qiskit-sdk-py` too.

But please understand that it will be one of the options at the moment because we think having all in python thru the `QConfig.py` is essential.

[2017-12-31 12:42] EvanKepner commented on #74
Excellent, I'll put in a pull request for review. Thanks! If keeping the`QConfig.py` is essential I'll move the suggestion to changing that file instead of the notebook e.g.

[code]

Would now optionally become:

[code]

This way the `QConfig` does not need to be removed from the notebooks, but you are also not storing the API key in a file that may become part of a public repo.

[2018-01-02 19:54] dtchang commented on #47
I just tried. It got worse. The first run didn't proceed beyond 20 seconds. I tried three times.

Please feel free to close this issue. I hope the IBM Q team will completely resolve the timeout issue, at least for the commercial users.

[2018-01-02 20:26] rraymondhp commented on #47
Can you show me the file you are running with the error message? This will help the team to identify the issue.

[2018-01-05 07:12] rraymondhp opened #76 "Added circuit figures once qiskit-sdk-py supports figure generation from qasm"
## Description

## Your Environment

* Tutorial branch (stable/master):
* QISKit SDK version:
* Python version:

[2018-01-06 01:11] rraymondhp commented on #74
I have merged the PR that deals with this issue. Thank you very much and looking forward to your next contribution.

[2018-01-06 01:11] #74 closed

[2018-01-06 01:15] rraymondhp commented on #62
Hi,
I have added the steps to install Qconfig.py here:
https://github.com/QISKit/qiskit-tutorial/blob/stable/README.rst

Also, you can find an example of the config file here:
https://github.com/QISKit/qiskit-tutorial/blob/stable/1_introduction/example_Qconfig.py

Hope this helps.

[2018-01-06 01:15] #62 closed

[2018-01-06 01:15] EvanKepner commented on #74
Awesome - thank you! I'm looking forward to doing more of the tutorials :smile:

[2018-01-11 21:55] rraymondhp opened #83 "Set more credits (or no credit spend) for reviewers of the tutorials"
## Description

To review tutorials, the reviewers must test the experiments on real devices many times. They need more credits to do that. Either give them more credits or identify them so they do not need to spend credits for testing.

## Your Environment

* Tutorial branch (stable/master):
* QISKit SDK version:
* Python version:

[2018-01-12 00:58] jaygambetta commented on #76
I agree and removing the figures saved in images.

[2018-01-12 01:00] #63 closed

[2018-01-12 02:32] rraymondhp opened #84 "Use README.md for index and generate index automatically (with ipynb or other formats)"
## Description

The index files do not contain executable codes. Markdown formats will suffice,

## Your Environment

* Tutorial branch (stable/master):
* QISKit SDK version:
* Python version:

[2018-01-30 22:04] indisoluble opened #88 "Error in notebook "quantum_emoticon": unable to get counts"
## Description
These are the steps I followed to get the error:

1. Clone repo: `git clone https://github.com/QISKit/qiskit-tutorial.git` (commit 37faf8bede71242f36c80e76f3c7a8b02395da58)
2. `cd qiskit-tutorial/`
3. Create file: `vi 0_hello_world/Qconfig.py`:
[code]
4.  `pip install -r requirements.txt`
5. `jupyter notebook index.ipynb`
6. Go to notebook "Quantum Emoticon"
7. Run first piece of co

[2018-01-30 22:07] indisoluble commented on #88
I found this other issue in [qiskit-sdk-py](https://github.com/QISKit/qiskit-sdk-py) that seams to be related: [Unexpected result qasm simulator with coupling map (stable) #181](https://github.com/QISKit/qiskit-sdk-py/issues/181)

[2018-01-30 22:23] pherrman commented on #88
I get the same error

[2018-02-02 23:40] aaita92 commented on #88
I get the same error

[2018-02-03 02:19] jaygambetta opened #92 "reworking the tutorial so that it is easier to manage"
We are going to split the tutorial into three sections.

We are going to add to a WIP PR that i will set up and if you want to help in the rework that would be great. Either you can help by commenting here or helping in the content. The names are the assigned people that are going to coordinate the different sections.

# sections

* **Hello World**: Since quantum computing is so new, we want to fi

[2018-02-03 02:23] jaygambetta commented on #92
To help out please commit to https://github.com/jaygambetta/qiskit-tutorial.

[2018-02-03 02:28] rraymondhp commented on #88
Hi,
Thank you for pointing this. I also got the same error when running the notebook. It is due to a bug in compiler that swap measurement to the middle of  the computation but the devices do not support such operation yet. I confirmed that I can avoid the error by inserting barrier before measurement, like:
[code]

I cannot run the real device now because it is under maintenance.

[2018-02-03 14:57] indisoluble commented on #88
Hi @rraymondhp, thanks a lot for your answer!!! Very helpful.

BTW, I just realised that this same problem was reported in IBM Q Experience Community too: [Code not working on IBMQX5](https://quantumexperience.ng.bluemix.net/qx/community/question?questionId=625c5d50336ccb9efcc540bb13df2b14).

Thanks again for your help.

[2018-02-03 15:28] aaita92 commented on #88
Thank you @rraymondhp <https://github.com/rraymondhp> !! now it works without errors!

Kind regards,
Antonello

[2018-02-07 10:12] hotstaff commented on #88
I get same error. Thank you @rraymondhp.

[2018-02-07 15:08] rraymondhp opened #95 "Guidelines for installing dependencies like pdflatex etc."
## Description

A list of dependencies on getting started tutorial and how to install them (if possible).

## Your Environment

* Tutorial branch (stable/master):
* QISKit SDK version:
* Python version:

[2018-02-07 22:33] ajavadia commented on #95
Here's what is needed for the circuit drawing part. I will write a separate tutorial on circuit visualization.

`pip install pillow`
`pip install pdf2image`
download poppler:
[(Windows)](https://sourceforge.net/projects/poppler-win32/)
[(Mac)](http://macappstore.org/poppler/)
Linux: `sudo apt install poppler-utils`

[2018-02-08 03:00] rraymondhp commented on #95
Thanks! This is really helpful.

[2018-02-11 11:38] rraymondhp opened #97 "[CallForParticipation] Tutorials for Grover's search, Simon's and Shor's algorithms"
## Description

Show tutorials of well-known quantum algorithms.

## Your Environment

* Tutorial branch (stable/master):
* QISKit SDK version:
* Python version:

[2018-02-22 13:29] rraymondhp commented on #95
Ninad also told me a script installing all dependencies as here:
https://github.ibm.com/nsathaye/qiskit_dsx/blob/master/qiskit_dependencies.sh

[2018-02-22 13:43] sathayen commented on #95
@ajavadia on Linux I required `texlive` packages But  installing those packages need quite a bit of additional space.  Is there any lightweight alternative to the circuite visualization?
I will create a public version of the script I have written ( @rraymondhp mentioned this in earlier note) Essentially this is what it has --

[code]

[2018-02-22 22:19] ajavadia commented on #95
The current circuit plotter goes like qasm->latex->pdf->png
We have an open issue to make the dependencies lighter:
https://github.com/QISKit/qiskit-sdk-py/issues/311

[2018-02-26 21:20] orrinjelo commented on #83
Also, some of the timeouts sometimes aren't waiting long enough, and you get a 403 code in return.  That costs some pretty credit too.

[2018-02-27 00:22] rraymondhp opened #100 "Combine notebooks working with backends and compiler"
See the new tutorials here:
https://github.com/jaygambetta/qiskit-tutorial/pull/10

Remove appendix/advanced_qiskit/compiling_and_running.ipynb - @jaygambetta was going to combine this with reference/tools/working_with_backends.ipynb

## Description

## Your Environment

* Tutorial branch (stable/master):
* QISKit SDK version:
* Python version:

[2018-02-27 00:26] rraymondhp opened #101 "Working with Approximate Quantum Computers"
Tutorials of VQE or other algorithms on near-term Quantum Computers.
## Description

Please see:
https://github.com/jaygambetta/qiskit-tutorial/pull/10

Move qiskit-tutorial/reference/approximate/quantum_chemistry.ipynb to appendix/algo_app/ - let @adcorcol figure out how to combine the two into one tutorial on VQE.

## Your Environment

* Tutorial branch (stable/master):
* QISKit SDK version:
* P

[2018-02-27 03:13] ggaaooppeenngg opened #102 "Gates after a measure are blocked in tutorial 0"
## Description

warning
[code]
stacktrace
[code]
## Your Environment
Jupyter Notebook

* Tutorial branch (stable/master):
master
* QISKit SDK version:
0.4.9
* Python version:
Python 3

[2018-02-27 05:47] rraymondhp commented on #92
@jaygambetta  Would you mind updating the getting started QISKit tutorials?

@dtmcclure  Do you think you can complete the random benchmarking within this week?

@adcorcol  Do you think you can complete the rest of tutorials for approximate quantum computers

[2018-02-27 13:17] dtmcclure commented on #92
@rraymondhp I believe others are still working on adding functionality to the SDK's tools.qcvv module to enable a randomized benchmarking notebook to be written. I'll be happy to help out with the notebook once that's ready.

[2018-02-28 08:03] rraymondhp opened #103 "Getting started tutorial is too complicated"
This requires the installation of latex and image creation packages that are quite big.
I think we should place instruction of how to use latex and pdf packages in the advanced topics, not in the getting started

https://github.com/QISKit/qiskit-tutorial/blob/master/1_introduction/getting_started.ipynb
## Description

## Your Environment

* Tutorial branch (stable/master):
* QISKit SDK version:
*

[2018-02-28 08:05] rraymondhp commented on #102
Hi,
I wonder if this is related to this issue:
https://github.com/QISKit/qiskit-tutorial/issues/88

Please try to place `barrier` before the measurement.

[2018-02-28 16:22] ajavadia commented on #103
The circuit visualization cell has to be updated. I'm not sure where I have to push changes since some big refactoring seems to be taking place. But that entire cell should be replaced by this:
[code]
Can you make this change?

[2018-02-28 16:24] ajavadia commented on #103
This does not alleviate the dependency on pdflatex. But it is cleaner (that entire function has now moved to the SDK itself).
We can put this in a separate tutorial on visualization later.

[2018-02-28 17:54] ajavadia opened #104 "Reduce traffic to backends"
In many places in the tutorial the real backend to run on is hardcoded. When many users run tutorials, this creates a problem of overloading some backends and starving others.

The problem is aggravated when one of the overloaded backends goes offline for maintenance, creating very long queues.

A potential solution is to not hardcode the backends. Rather, the tutorial codes must query the backend

[2018-03-01 03:16] rraymondhp commented on #104
Hi, another solution is to save the results of all tutorials in the cache (possibly renewing them after every calibration). It is most likely that people will run tutorials without altering the qasm/circuits. In this case, we can just use the cache. This is already done in IBM Quantum Experience (web-based IBM Q Systems)

[2018-03-01 03:43] rraymondhp opened #105 "Avoid using local_qasm_simulator for 10 qubits or more"
## Description

The `local_qasm_simulator` is too slow and not efficient for simulating 10 or more qubits.
The alternative is to use the new `ibmqx_hpc_qasm_simulator` or `ibmqx_qasm_simulator`.

## Your Environment

* Tutorial branch (stable/master):
* QISKit SDK version:
* Python version:

[2018-03-01 04:26] ajavadia commented on #105
In the next release the local_qasm_simulator will be a fast c++ simulator, and can handle large qubits.
I think it is preferable to use local simulators that don't require internet connection.

[2018-03-01 04:40] rraymondhp opened #106 "Add path to Qconfig at all tutorials that import it"
## Description

There are many issues with tutorials cannot be run due to failure in importing Qconfig.
We need to make sure the Qconfig is installed on the path that is searched by the PYTHONPATH.

## Your Environment

* Tutorial branch (stable/master):
* QISKit SDK version:
* Python version:

[2018-03-01 06:38] rraymondhp commented on #105
Thanks! My concern is that the simplest introductory in the tutorial, quantum_emoticon.py uses 16 qubit simulator. When run with the local_qasm_simulator, it takes several minutes while it takes just several seconds with the online simulators.

For this reason, I would like to keep this open until the next release of qiskit-sdk-py.

[2018-03-01 23:09] venkatbgs opened #109 "Error message while running Maxcut in ibmqx5 - 16 qubit from classical_optimization in application examples"
## Description

While trying to run simple Maxcut (for 4 qubits) with ibmqx5, get the following error:

WARNING:IBMQuantumExperience.IBMQuantumExperience:Got a 400 code response to  {"error":{"status":400,"message":"Error parsing QASM. Error parsing qasm number 0. The qasm has no measures.","code":"QASM_NOT_VALID","statusCode":400}}

The same notebook runs ok with the simulator (local_qasm_simulat

[2018-03-01 23:47] rraymondhp commented on #109
Hi @venkatbgs
We are working to rewrite the tutorials. I suspect that this is due to the change in compiler of real devices.
Please allow us some time to fix.

[2018-03-09 13:46] tanweer-ali commented on #88
@rraymondhp  I added the barrier statement just like you mentioned in the quantum-emoticon sample.

It did run once without error.

But now i get the following error:

[code]

[2018-03-09 13:54] rraymondhp commented on #88
Hi,
It is likely because there are too many job queue for the ibmqx5. The last time I heard there were about 1000+ jobs waiting in line. Please wait and try to run your job again later.

I will try to see the workaround.

[2018-03-09 14:00] francabrera commented on #88
@rraymondhp the queues are fine right now, wouldn't it be because the time-out set is too short for the experiment?

[2018-03-09 14:03] rraymondhp commented on #88
Yes, it is because of the `timeout=60` in the default notebook. I have just confirmed that by having the `timeout=300` or larger, I could run in just fine. @tanweer-ali
Thanks @francabrera !

[2018-03-09 14:24] tanweer-ali commented on #88
@rraymondhp  Thankyou for the timeout tip.
That worked!

Now the next section of the code which is supposed to draw the plots
i get the following output:

[code]

And i don't see any plots

[2018-03-09 14:30] rraymondhp commented on #88
You're welcome @tanweer-ali
This is an issue with permutation of qubit measurements that we are still working to fix.
This is the workaround as noted in my notebook below:
https://github.com/jaygambetta/qiskit-tutorial/blob/rr-quantum-emoticon-nopermutation/hello_world/quantum_emoticon-without_permutation.ipynb

We also had a discussion on the slack channel about this.
https://qiskit.slack.com/arc

[2018-03-09 17:57] tanweer-ali commented on #88
@rraymondhp Thank you!
How do i join the slack channel? my email is not signed up for it ?
I am still looking into your other link.

[2018-03-20 17:18] ajavadia commented on #102
@rraymondhp @ggaaooppeenngg This is fixed now in the QISKit master branch. The next pip update will include these changes. You can close the issue.

[2018-03-20 17:19] ajavadia commented on #88
@rraymondhp @rraymondhp This is fixed now in the QISKit master branch, and the next pip release will include the changes. You can close this issue.

[2018-03-21 22:20] indisoluble commented on #88
Closing this issue. Fixed in https://github.com/QISKit/qiskit-sdk-py/pull/347

[2018-04-15 21:45] jaygambetta opened #120 "assigning reviewers for the reference section"
@attp i made a CODEOWNERS file i forget who was going to be the main people for each section. Could you fill in this correct.

## Description

## Your Environment

* QISKit SDK version: 0.4
* Python version: 3.6

[2018-04-15 21:48] jaygambetta commented on #103
I have updated the new getting started. It is much simpler but i want to get the visualizations.

[2018-04-15 21:48] #103 closed

[2018-04-15 21:50] jaygambetta commented on #92
I started the Merge #118 . I am going to close this so that we can make little prs to fix the remainder of issues. The new version is in master and i have made the old version another branch that we can keep around until we are finished.

[2018-04-15 21:50] #92 closed

[2018-04-15 21:51] jaygambetta commented on #47
@rraymondhp can we close this?

[2018-04-15 21:56] jaygambetta commented on #95
@ajavadia what is the status of this. Rather than a tutorial can we just make sure we add to the INSTALL a link for making sure you have the requirements as i use them heavy in the new tutorials

[2018-04-15 22:00] jaygambetta commented on #64
@diego-plan9 when we are finished with the tutorial rework can you look into this and see what we should do here.

[2018-04-15 22:03] jaygambetta commented on #105
Lets close this as it is related to the QISKit Core. The functionality will not change.

[2018-04-15 22:03] #105 closed

[2018-04-15 22:04] jaygambetta commented on #109
@rraymondhp can you looking into this.

[2018-04-15 22:05] jaygambetta commented on #84
I dont understand this could you give more information.

[2018-04-15 22:08] jaygambetta commented on #83
@francabrera i agree with @rraymondhp is there someway that we can set up a tutorial user for checking the tutorials work correctly.

Or i still think its best that we have cache runs for the tutorial.

[2018-04-15 22:10] jaygambetta commented on #76
This is done with the circuit drawer. I am going to close this as the only thing that remains is the same as

[2018-04-15 22:10] #76 closed

[2018-04-15 22:11] jaygambetta commented on #97
I agree we need to get these in the algorithm section. Hopefully we can find someone with time to make them.

[2018-04-15 22:12] jaygambetta commented on #100
This has been done in pr #118 but i still want to redo that section after qiskit version 0.5

[2018-04-15 22:12] #100 closed

[2018-04-15 22:13] jaygambetta commented on #106
@nonhermitian @diego-plan9 i know we are thinking of a better way of doing the qconfig. I think it is very important we work this out for the tutorials

[2018-04-15 22:16] jaygambetta commented on #102
@ajavadia and @rraymondhp i think this is fixed can you verify and close

[2018-04-15 22:39] westurner commented on #64
- This: https://github.com/QISKit/qiskit-tutorial/issues/64#issuecomment-353984390
- https://mybinder.org/v2/gh/QISKit/qiskit-tutorial/master?filepath=index.ipynb
  - The heading links seem to link to directories instead of .ipynbs?

[2018-04-15 23:26] ajavadia commented on #102
Yes, with QISKit release 0.4.12 this is fixed.

[2018-04-15 23:49] jaygambetta commented on #102
Great. Closing. I also gave you write access.

[2018-04-15 23:49] #102 closed

[2018-04-16 00:00] jaygambetta commented on #104
I added this to the getting started. With the update to qiskit 0.5 it will be nicer but this works. @attp when you go through the tutorials i think we want to have a similar function.

[2018-04-16 00:31] attp commented on #84
This has been discussed on Slack and is now closed. We have one index file with links to all the reference tutorials, and people can browse the appendix ones through the folder structure.

[2018-04-16 00:31] #84 closed

[2018-04-16 05:58] rraymondhp opened #130 "[Checking]The qubits got permuted when running with real devices"
## Description

There is an issue of real-devices that permute the order of qubits. This will be solved with the next release of qiskit-sdk-py. Until that release, we have to provide a workaround of fixing the qubit order.

## Your Environment

* QISKit version:
* Python version:

[2018-04-16 06:47] rraymondhp commented on #47
I have confirmed that we can run the programs with longer queuing time.  Hence, I close this issue.

Please reopen the issue if you still experience it.

Thanks.

[2018-04-16 06:47] #47 closed

[2018-04-16 08:24] rraymondhp opened #135 "Remove version footers at tutorials"
## Description

The old release of qiskit-sdk-py is not compatible with the latest API.

## Your Environment

* QISKit version:
* Python version:

[2018-04-16 08:29] rraymondhp opened #136 "Strange error with simulators"
## Description

When running the following code, I got `backend ... not available` error.
[code]

But when I queried the available backends, with pprint as below, I can run the code.
[code]

## Your Environment

* IBMQuantumExperience                   1.9.0
* qiskit                                 0.4.12
* python 3.6.2

[2018-04-16 09:25] t-imamichi commented on #136
This patch removed `qiskit.backends.discover_remote_backends(self.__api)` in `QuantumProgram.set_api`. That's why users cannot run any program on the remote simulators without calling `available_backends`.
https://github.com/QISKit/qiskit-sdk-py/pull/363/commits/ace23ec7094a770fe567f9402e49e7cf86e75d24

[2018-04-16 11:11] rraymondhp opened #137 "Print the correct versions of qiskit, IBM Quantum Experience, and python version"
## Description

At the end of tutorials, add the following codes (or, compatible lines that do better).
The current version check just print the content of `requirements.txt` that might not be true anymore.
[code]
## Your Environment

* QISKit version:
* Python version:

[2018-04-16 13:54] rraymondhp commented on #130
This apparently has been fixed with the version 0.4.12 of qiskit-sdk-py.

[2018-04-16 13:59] rraymondhp commented on #135
Replace `%run "../../version.ipynb"` at the bottom of each tutorial with:
[code]

[2018-04-16 16:07] SerkanGuldal opened #139 "Generating Equilibrium file"
## Description
What is the easiest way to generate Equilibrium.txt files?

## Your Environment

* QISKit version: 0.4.12
* Python version: Python 3.6.5

[2018-04-16 16:28] rraymondhp commented on #139
What do you mean by equilibrium.txt files?

[2018-04-16 16:59] SerkanGuldal commented on #139
ansatz. In the following folder, LiHEquilibrium.txt is stored.
qiskit-tutorial/reference/approximate/LIH/

Likewise, I want to calculate Li2, so I need the equilibrium (It is named here like that) file for Li2.

If I am mistaken please let me know.

[2018-04-17 06:55] rraymondhp opened #140 "Problems with superposition and entanglement notebook"
The current notebook of `superposition_and_entanglement.ipynb` does not work as desired if run on remote backends.

https://github.com/QISKit/qiskit-tutorial/blob/master/reference/qis/superposition_and_entanglement.ipynb

## Description

1. The current notebook runs ok with local simulators, but when `backend=ibmqx_qasm_simulator` it cannot be run anymore unless the `lowest_pending_jobs()` functio

[2018-04-17 10:27] jaygambetta commented on #140
i dont see why we want the user to be using the online and if they want they can do write backend = "ibmqx_qasm_simulator".

Also i dont see what is wrong with the image. If is is the cropping make and issue just on that and give the machine you are on.

also @ajavadia is working on that as an extension to the INSTALL in #95.

[2018-04-17 10:27] #140 closed

[2018-04-17 10:29] jaygambetta commented on #136
@rraymondhp  can you check with 0.4.13 this should be fixed now.

[2018-04-17 10:36] jaygambetta commented on #135
@diego-plan9 could you look at @rraymondhp suggestion for making a better version.ipnb

[2018-04-17 10:37] jaygambetta commented on #137
@rraymondhp can you please put all these together #135

[2018-04-17 10:37] #137 closed

[2018-04-17 10:39] jaygambetta commented on #130
i dont think this is an issue. Did you put an initial_layout in

[2018-04-17 10:55] rraymondhp commented on #136
@jaygambetta  Thanks! I have checked that it works with producing deprecated warnings.

I will close this issue once I have confirmed all tutorials work.

[2018-04-17 10:57] rraymondhp commented on #135
@diego-plan9  I am proposing to replace the `version.ipynb` with this file:
https://github.com/rraymondhp/qiskit-tutorial/blob/57123039684853c4b6af4c7a51203fcabda7b052/version.ipynb

[2018-04-17 10:59] rraymondhp commented on #130
It has been solved with 0.4.13.

[2018-04-17 10:59] #130 closed

[2018-04-17 11:37] rraymondhp commented on #135
@diego-plan9  Let us discuss how to check the version of python, qiskit, IBMQuantumExperience and other required packages here. Because the tutorial uses `conda env create ..` and `QISKitenv.yml` file to install the latest packages, it does not use `requirements.txt` anymore.

Therefore, for version checking we should think of other way than listing the contents of the `requirements.txt`.

[2018-04-17 12:18] rraymondhp commented on #136
Confirmed that the latest version is compatible with old tutorials.

[2018-04-17 12:18] #136 closed

[2018-04-17 13:05] diego-plan9 commented on #135
I think the core question is what should the footer version contain. The original idea was that it would be a "single, static source of truth when it comes to the versions needed to run the tutorials", listing them based on the requirements of `qiskit` dependency specifications (and always producing the same list, regardless of the environment or the setup where the user run the notebook). So it i

[2018-04-17 13:19] rraymondhp commented on #135
But the `requirements.txt` does not list the true version of qiskit used to run the tutorials. This can be problematic when asking what version the user is using to run the tutorial.

[2018-04-17 13:37] diego-plan9 commented on #135
Yes - it would need to be updated and some measures taken to ensure they don't fall out of sync again, absolutely. But I think this is an organizational issue separate from the implementation: those measures will be needed with either approach, as long as some kind of "list of reference versions" are needed (in the other implementation, ensuring that it is recreated by a user with the right versio

[2018-04-17 15:59] antoniomezzacapo commented on #139
Hi,
generating qubit Hamiltonians from general molecular configurations is currently not an available feature.

[2018-04-17 16:00] rraymondhp commented on #104
I think this function should be implemented in qiskit or at IBM Q API. I do not think it is wise to ask users to do the load balancing because there are many factors to obtain the best balancing. If users are asked to do so, they will do so greedily and it may not lead to optimal balancing.

Another factor is that we have to take into account many factors, such as, the number of qubits, layouts, g

[2018-04-18 00:13] ajavadia commented on #104
Resolved by the above PR in the SDK. When merged, I will go through tutorials and update them accordingly.

[2018-04-18 04:45] rraymondhp opened #142 "Replace local_qasm_simulator with local_qiskit_simulator"
## Description

For local simulation of 10 qubits or more, the `local_qiskit_simulator` should be used.
Here is a comparison of running quantum_emoticon tutorial: `local_qiskit_simulator` takes 3.6 seconds vs `local_qasm_simulator` takes more than 1200 seconds.
[code]

## Your Environment

* QISKit version: 0.4.13
* Python version: 3.6
MacBookAir MacOSX with 8GM RAM and 1.6GHz i5

[2018-04-18 05:53] ajavadia commented on #142
Don't change this. In v0.5, `local_qasm_simulator` will automatically select the faster simulator, if it is installed.

[2018-04-18 05:59] rraymondhp commented on #109
@venkatbgs  Please use this notebook. It will be merged to the tutorial once Jay and Anna reviewed it.
https://github.com/rraymondhp/qiskit-tutorial/blob/d84e43dcc81e02333714153eabd82a6a54a04942/appendix/algo_app/classical_optimization.ipynb

[2018-04-18 06:14] rraymondhp commented on #142
Noted. But for classical optimization and the above hello word program it can take more than 20 minutes to run the program. I suggest you to use `local_qiskit_simulator` as the generic name. In particular, because qiskit sounds familiar than qasm.

Anyway, isn't it we are using qobj instead of qasm?

[2018-04-18 09:12] diego-plan9 commented on #135
Following up after some private conversations - it seems just removing the version footer (and instead adding a mention of just the `qiskit` version in [the Reference section of the main README](https://github.com/QISKit/qiskit-tutorial/blob/071bdde2155953aa1d792465a69dd3fd31d39f5a/README.md#2-reference) (or/and in the `reference/README.md`) would be enough!

[2018-04-18 10:05] rraymondhp commented on #135
Thanks Diego!
I will do that and after confirming all version footers have been removed, I will close this issue.

[2018-04-18 11:47] diego-plan9 opened #144 "Provide a way for checking the tutorials when a new qiskit version is released"
## Description

After some discussion spawned from #135 and the tutorials as a whole, it seems that having an easy, ideally single-shot way of checking if the tutorials are working against a new version of `qiskit` (or other dependencies in general) would facilitate keeping them in sync.

As a simple approach, a command that can be executed locally by a tutorial repository maintainer and clearly o

[2018-04-18 15:37] antoniomezzacapo commented on #139
Yes, we are considering adding it so stay tuned for next releases. Thanks

[2018-05-12 21:55] jaygambetta commented on #142
closing as with qiskit 0.5 this is not longer an issue

[2018-05-12 21:55] #142 closed

[2018-05-12 21:59] jaygambetta commented on #109
@rraymondhp what is the status of this

[2018-05-12 22:00] jaygambetta commented on #120
closing as we have assigned some people for each section.

[2018-05-12 22:00] #120 closed

[2018-05-12 22:01] jaygambetta opened #155 "rewriting the tutorials for version 0.5"
## Description

## Your Environment

* QISKit version: 0.5
* Python version: 3.6

[2018-05-12 22:02] #139 closed

[2018-05-13 03:49] rraymondhp commented on #109
We found a bug in creating Hamiltonian in the example. My colleagues is working on it. Hopefully we can push the correct version next week.

[2018-05-16 02:10] rraymondhp opened #160 "Rewrite quantum-state tomography because the API changes make it unrunnable"
https://github.com/QISKit/qiskit-tutorial/blob/06f0e11286b20ca8b4b20ead323553b6f1ae6cd6/reference/qcvv/state_tomography.ipynb
## Description

## Your Environment

* QISKit version:
* Python version:

[2018-05-19 20:36] amantamirat opened #162 "Running Algorithm on ibmqx5 DAG Circuit error"
## Description

I am trying to run the Grover's algorithm, it worked nicely on the local qasm simulator but when i change the backend on ibmqx5 i got the following error:
qiskit.dagcircuit._dagcircuiterror.DAGCircuitError: 'inequivalent gate definitions for cx'
and again when i changed the backend to ibmq_qasm_simulator i get the following error:
qiskit._resulterror.ResultError: DEVICE_NOT_FOUND:

[2018-05-22 15:24] rraymondhp commented on #162
Hi, thanks reporting this issue.

I also found a similar issue and am thinking that it may be caused by the mapper.
I have raised the issue here:
https://github.com/QISKit/qiskit-sdk-py/issues/492

By the way, please update your qiskit to the latest version by `pip install -U qiskit`.

[2018-05-24 09:32] rraymondhp commented on #109
@venkatbgs

Sorry for keeping you waiting.

Please update your qiskit with `pip install -U qiskit` and get the latest tutorial of maxcut from the tutorial.

[2018-05-24 09:32] #109 closed

[2018-05-25 20:32] amantamirat commented on #162
@rraymondhp
Thank you sir for your attention, one another problem i have updated the qiskit as you recommended now the ibmqx and other remote servers are lost form available back-ends

[2018-05-25 21:47] amantamirat commented on #162
Thank You @rraymondhp know ay get similar error as
https://github.com/rraymondhp/qiskit-tutorial/blob/ba1d80923fc02234f1fadda7be996bdd6fb4c712/reference/algorithms/grover_algorithm.ipynb
says
qiskit.mapper._mappererror.MapperError: 'initial_layout qubit qin[15] not in input DAGCircuit'

[2018-05-26 02:43] rraymondhp commented on #162
Hi @amantamirat
There is a bug when using two or more quantum registers with different names. It will be fixed on the next release.

[2018-05-29 00:38] #95 closed

[2018-05-31 00:21] rraymondhp commented on #144
This has been solved thanks to @diego-plan9

[2018-05-31 00:21] #144 closed

[2018-05-31 06:27] rraymondhp commented on #162
Hi @amantamirat
The bug with multiple registers has been fixed with version 0.5.3
Please update your qiskit-sdk-py by `pip install -U qiskit`.

Meanwhile, I have updated the tutorial for Grover search as the link below:
https://nbviewer.jupyter.org/github/QISKit/qiskit-tutorial/blob/master/reference/algorithms/grover_algorithm.ipynb

[2018-06-02 12:05] jaygambetta commented on #155
@attp and @rraymondhp which ones are left to rewrite

[2018-06-02 12:06] jaygambetta commented on #135
@rraymondhp can you do this week and close this issue.

[2018-06-04 03:46] attp commented on #135
I've addressed this in Pull Request #189 and have asked @rraymondhp to review.

[2018-06-05 13:24] rraymondhp opened #191 "Explain the concept of equivalence up to global phase"
The `initialize()` in the tutorial does not produce the exact state as desired vector, but it only gives one that is equivalence up to global phase.
https://nbviewer.jupyter.org/github/QISKit/qiskit-tutorial/blob/master/reference/tools/quantum_gates_and_linear_algebra.ipynb#Arbitrary-initialization

## Description

I think it is good to mention about the equivalence up to global phase here also (i

[2018-06-05 13:29] rraymondhp commented on #135
@jaygambetta  I will finish this within this week.
Thanks @attp

[2018-06-05 19:07] jaygambetta opened #193 "removing quantum program from state tomography"
@chriseclectic could you work on rewriting the state tomography in qiskit 0.5
## Description

## Your Environment

* QISKit version:
* Python version:

[2018-06-05 19:10] jaygambetta opened #194 "removing quantum program from process tomography"
Can we rewrite quantum process tomography tutorial in qiskit 0.5

## Description

## Your Environment

* QISKit version:
* Python version:

[2018-06-05 19:13] jaygambetta opened #195 "removing shot = 1 in quantum_counterfeit_coin_problem"
@rraymondhp use the local_statevector_simulator rather than shots and it will fix the warning.

## Description

## Your Environment

* QISKit version:
* Python version:

[2018-06-05 19:14] jaygambetta commented on #155
closing as focusing on just the tutorials that are remaining.

[2018-06-05 19:14] #155 closed

[2018-06-05 19:15] jaygambetta commented on #162
@rraymondhp can we close

[2018-06-05 19:19] rraymondhp commented on #195
@jaygambetta  This is not  a bug on my side because the algorithm is deterministic (it returns a correct answer with probability one). For this reason, I want it to have one shot, and the correct behaviour of the simulator is that it should not give me warning. I have raised this as an issue and @ajavadia  told me it will be fixed at the next release.

[2018-06-05 19:22] rraymondhp commented on #195
Here is the issue I raised. I cannot use statevector_simulator with measurement..
https://github.com/QISKit/qiskit-core/issues/513

[2018-06-05 19:33] jaygambetta opened #196 "making quantum chemistry tutorial qiskit 0.5"
## Description

## Your Environment

* QISKit version:
* Python version:

[2018-06-05 19:35] jaygambetta opened #197 "making quantum optmization tutorial qiskit 0.5"
## Description

## Your Environment

* QISKit version:
* Python version:

[2018-06-05 19:39] #101 closed

[2018-06-05 19:40] jaygambetta commented on #106
This will be part of qiskit-core 0.6

[2018-06-05 20:50] jaygambetta opened #198 "display the qiskit logo on each tutorial"
## Description

## Your Environment

* QISKit version:
* Python version:

[2018-06-05 20:53] jaygambetta commented on #191
@rraymondhp make a pr and suggest how you want to do it.

[2018-06-05 22:49] #135 closed

[2018-06-05 23:52] attp commented on #160
Addressed by PR #188.

[2018-06-05 23:52] #160 closed

[2018-06-06 00:53] jaygambetta commented on #64
done. A few things that would be good. To get the circuit_drawer working with python and qconfig handled better. These are all on the roadmap for qiskit so im going to close for now.

[2018-06-06 00:53] #64 closed

[2018-06-06 10:04] jaygambetta commented on #198
still visualizing_quantum_state.ipynb

[2018-06-06 18:19] jaygambetta commented on #64
@westurner i got it working with the latex (binder is really nice) and i got the qconfig working by skipping it in the the header and using getpass. Thanks for the suggestions and let me know if you have more improvements.

[2018-06-06 21:49] westurner commented on #64
Thanks!

On Wednesday, June 6, 2018, Jay Gambetta <notifications@github.com> wrote:

[2018-06-07 00:44] attp opened #209 "remove quantum program from grover's algorithm tutorial"

[2018-06-08 05:04] #209 closed

[2018-06-08 05:59] attp commented on #197
I've attempted to do this - see PR #212. @antoniomezzacapo - Can you have a look? It doesn't work when shots > 1.

[2018-06-08 06:00] attp commented on #196
I've attempted to do this - see PR #212. @antoniomezzacapo - Can you have a look? It doesn't run correctly.

[2018-06-14 00:08] jaygambetta commented on #196
I think this is superseded by #214

[2018-06-14 00:09] jaygambetta commented on #197
I think this is superseded by #214

[2018-06-14 01:39] #196 closed

[2018-06-14 01:39] #197 closed

[2018-06-19 08:27] atilag opened #219 "Just a little typo"
https://github.com/QISKit/qiskit-tutorial/blob/master/reference/algorithms/deutsch_josza.ipynb
Deutsch–Jo**s**za => Deutsch–Jo**z**sa
It's in the filename and the content of the tutorial :)

[2018-06-19 20:11] #219 closed

[2018-06-28 02:36] rraymondhp commented on #83
This is already solved.

[2018-06-28 02:36] #83 closed

[2018-06-28 02:38] rraymondhp commented on #104
We have shown how to choose the least busy device at the tutorial.

[2018-06-28 02:38] #104 closed

[2018-07-06 13:29] amantamirat commented on #162
Hello beautiful people sorry for lost , DAG circuit now is not the problem but this
**qiskit._qiskiterror.QISKitError: '"{\'message\': \'Error parsing QASM. Error parsing qasm number 0.\', \'statusCode\': 400, \'status\': 400, \'code\': \'QASM_NOT_VALID\'}"'**
the code works fine in any simulator devices but when i try to run on real Quantum device it give me this Error

[2018-07-06 14:03] jaygambetta commented on #162
Can you check you have the latest versions.  Run pip install —upgrade qiskit

[2018-07-06 14:04] rraymondhp commented on #162
Hello,
Have you updated qiskit to be the latest (version 0.5.6)?

[2018-07-07 08:53] amantamirat commented on #162
yes I have updated, but still the same error message!!!!!

[2018-07-08 08:16] rraymondhp commented on #162
Hi @amantamirat
I succeeded to run the program, so I guess I need to know more of your program.
Below is the link to my program:

https://github.com/rraymondhp/qiskit-tutorial/blob/rr-v56-grover/reference/algorithms/grover_algorithm.ipynb

[2018-07-11 16:37] amandeep1988 commented on #88
#put barrier before measurement
qc.barrier(qr)

# measure
for j in range(16):
    qc.measure(qr[j], cr[j])

# run and get results
results = qp.execute(["smiley_writer"], backend='ibmqx5', shots=1024, timeout=300)
stats = results.get_counts("smiley_writer")

Even after putting barrier before measurement . we are still getting error. please tell solution

Got a 400 code response to https://quantumex

[2018-07-11 23:34] rraymondhp commented on #88
Hi @amandeep1988
It's strange because clicking the links (https://...) at your post I can see the counts/outputs of your results. Let me see what is wrong. Have you updated your qiskit to the latest version of 0.5.6?

Please also change your token, as it has been revealed to public by your post.

[2018-07-12 01:31] amandeep1988 commented on #88
Dear Sir,

Yes i have already updated qiskit to 0.5.6. Now, i will regenerate the
token n run it again.

On Thu, 12 Jul 2018 5:04 AM Rudy Raymond, <notifications@github.com> wrote:

[2018-07-12 04:08] amandeep1988 commented on #88
@rraymondhp
Now, it gives timed out error.
Sometimes it gives Got a 400 code response........... or either timeout error  even after setting timeout to 600.

[2018-07-12 04:48] rraymondhp commented on #88
Hi @amandeep1988

600 secs are too short. please refer to the tutorial below for how to queue without setting timeout.

https://nbviewer.jupyter.org/github/QISKit/qiskit-tutorial/blob/master/hello_world/quantum_world.ipynb

[2018-07-12 05:17] amandeep1988 commented on #88
ImportError                               Traceback (most recent call
last)<ipython-input-40-de59f6cefc0e> in <module>()----> 1 from
qiskit.tools.visualization import plot_histogram
~\Anaconda3\lib\site-packages\qiskit\tools\visualization\__init__.py
in <module>()      8 """Main QISKit visualization methods."""      9
---> 10 from ._circuit_visualization import circuit_drawer,
plot_circuit, genera

[2018-07-12 05:38] rraymondhp commented on #88
hi,

my point is to replace the timeout function as below:
'''
lapse = 0
interval = 10
while not job_exp.done:
    print('Status @ {} seconds'.format(interval * lapse))
    print(job_exp.status)
    time.sleep(interval)
    lapse += 1
print(job_exp.status
'''

If you don`t need to draw circuits you can just disable the drawer. or use the matplotlib drawer as detailed here:

https://nbviewer.jupyte

[2018-07-22 06:54] amandeep1988 commented on #88
During executing the code on backend ...it keep on checking status and
showing job is actively running and sudden
it coming with

Got a 400 code response to.......
{"error":{"status":400,"message":"Generic
error","code":"GENERIC_ERROR"}}

Can you please tell me the error is on backend side or what it means.?

On Thu, Jul 12, 2018 at 11:08 AM, Rudy Raymond <notifications@github.com>
wrote:

--
Than

[2018-07-22 06:57] amandeep1988 commented on #88
Then it come up with in between

Got a 502 code response to ...... 502 Bad Gateway: Registered endpoint
failed to handle the request.

But job is actively running with increase in time..

On Sun, Jul 22, 2018 at 12:24 PM, aman deep <aman8oct1988@gmail.com> wrote:

--
Thanks & Regards
Amandeep Singh

[2018-07-22 06:59] rraymondhp commented on #88
I will look into it later and reopen the issue.
Is it possible to have your notebook so I can test it myself?

[2018-07-22 07:17] amandeep1988 commented on #88
def lowest_pending_jobs():
    """Returns the backend with lowest pending jobs."""
    list_of_backends = available_backends(
        {'local': False, 'simulator': False})
    device_status = [get_backend(backend).status
                     for backend in list_of_backends]

    best = min([x for x in device_status if x['operational'] is True],
               key=lambda x: x['pending_jobs'])
    r

[2018-07-22 16:29] betatim opened #231 "Not encouraging users to type credentials into mybinder.org"
Hi!

This looks like a nice set of notebooks about a cool topic! I am part of the team that maintains mybinder.org where we see quite a bit of activity for this tutorial.

We try very hard to educate our users that they should never ever type things that they wouldn't tweet to the world into a session on mybinder.org. While individual repositories and notebook creators aren't evil there will come

[2018-07-22 17:33] jaygambetta commented on #231
Hi @betatim

Project q is just simulators and we have simulators as well that do not need a token to run them. The token is the only required to run on the real devices. So there is no need for project q.

This being said we need a token for run on the real device and we want the tutorials to explain how to run on a real device and give uses access to them. So we think about what to do maybe we ca

[2018-07-23 06:34] amandeep1988 opened #232 "Error during measurement quantum register in loop.. Gates are blocked"
Dear Sir,

I am trying to measure quantum register in loop. And, it will try to access backend again n again while in loop. My question is : is it possible to measure quantum register in loop only after getting access backend at once. Otherwise, after one measurement it displays: gates are blocked...error...

Please give solution or any tutorial handling it..

Status @ 20 seconds
{'job_id': None,

[2018-07-23 06:44] rraymondhp commented on #232
Hi,

Please tell us the QISKit version and Python version.
Also, posting your code, if possible, will be helpful.

[2018-07-23 06:57] amandeep1988 commented on #232
Python 3.6.5
QISkit 0.5.6.

[2018-07-23 07:02] amandeep1988 commented on #232
from qiskit import QuantumProgram

data =set[:100,:10]
labels=set[:100,10]-1

qp=QuantumProgram()
no_qubits=4
qr = qp.create_quantum_register('qr',no_qubits)
cr = qp.create_classical_register('cr', 1)
qc = qp.create_circuit('test', [qr], [cr])
p=initialise_params(7)
one_time=np.zeros(len(labels))

def evaluate_cost(data, labels, p):
    for k in range(len(lables)):
        for j in range(data.shap

[2018-07-23 07:10] amandeep1988 commented on #232
After executing it ...it displays as (I got output at once, when it tries to get backend in loop then displays Gates are blocked...

I need to calculate total_amount till the loop fails..

{'job_id': '5b5558175dc974003b7afabe', 'status': <JobStatus.DONE: 'job has successfully run'>, 'status_msg': 'job has successfully run'}
{'0': 530, '1': 494}
0.482421875
Status @ 0 seconds
{'job_id': None, 'stat

[2018-07-23 07:50] sorin-bolos opened #234 "fyatal error LNK1181: cannot open input file 'm.lib'"
## Description
I'm trying to install the tutorials using the instructions [here](https://github.com/Qiskit/qiskit-tutorial/blob/master/INSTALL.md). I'm using conda on Windows 10. But I get the following error

[code]

Here I'm using miniconda but I tried on another workstation with having full anaconda installed and had the same issue.

## Your Environment

* QISKit version:
* Python version:

[2018-07-23 08:01] sorin-bolos commented on #234
closed by mistake

[2018-07-23 08:46] rraymondhp commented on #234
Hi,

It seems that you failed to compile `cvxopt`.

A quick fix is to downgrade to use `python 3-6` instead of the current `python 3-7` you are using.

Or, replace the content of QISKitenv.yml with the following:
[code]

[2018-07-23 09:18] sorin-bolos commented on #234
I went with the second option and it worked.
Thanks a lot.

[2018-07-23 14:51] rraymondhp commented on #232
Hi,
Thanks for posting the code. Still the code is not clear and I cannot repeat the experiment.

1. We do not use `QuantumProgram` anymore since qiskit version 0.5. Instead, we can create `QuantumCircuit`s and execute them directly.

2. I do not see you import `Qconfig` and register your APItoken to use the remote backends. What is the backend you used in the above?

[2018-07-23 14:54] amandeep1988 commented on #232
can you please give a link of some tutorial regarding creating quantum
circuit ..anythng

On Mon, 23 Jul 2018 8:21 PM Rudy Raymond, <notifications@github.com> wrote:

[2018-07-23 15:01] rraymondhp commented on #232
Here you go:
https://github.com/Qiskit/qiskit-tutorial/blob/8e1cc40fce8d30113cef0a663d80d39b2f364dbd/hello_world/quantum_world.ipynb

[2018-07-24 07:37] attp commented on #232
Hi @amandeep1988 , I'm not sure what you are trying to do from your code, but on the IBM QX devices, we currently lack the ability to use measurement feedback or feed forward. So once there is a measurement in a circuit, you can't implement any further gates. See https://github.com/Qiskit/qiskit-tutorial/blob/master/reference/algorithms/iterative_phase_estimation_algorithm.ipynb for an example of

[2018-07-24 08:03] rraymondhp opened #237 "Change QISKit --> Qiskit"
## Description

## Your Environment

* QISKit version:
* Python version:

[2018-07-24 08:03] rraymondhp opened #238 "Change acqua --> aqua"
## Description

## Your Environment

* QISKit version:
* Python version:

[2018-07-25 07:13] kwyip opened #240 "TypeError: run() got an unexpected keyword argument 'wait'"
## Description

I am writing the example on [here](https://github.com/Qiskit/qiskit-tutorial/blob/002d054c72fc59fc5009bb9fa0ee393e15a69d07/1_introduction/getting_started.ipynb). However I encounter the error of
`    result = qp.run(qobj, wait=2, timeout=240)
TypeError: run() got an unexpected keyword argument 'wait'`. Why does this error happen?
## Your Environment

* QISKit version: latest
* Pyth

[2018-07-25 07:21] rraymondhp commented on #240
Hi,

The version of the notebook you are referring is the old one. The new qiskit version does not support `wait` anymore because we can do asynchronous queue.

Please refer the latest version below:

https://github.com/Qiskit/qiskit-tutorial/blob/8e1cc40fce8d30113cef0a663d80d39b2f364dbd/reference/tools/getting_started.ipynb

[2018-07-25 07:27] kwyip opened #241 "Question about circuit_drawer"
## Description

In the example script below, when circuit_drawer is called, does the image pop up? I just get stuck there and does not see any circuit image. If this is just my problem, is there anyway to save the image instead?
## Your Environment

* QISKit version: latest
* Python version: 3.6

Example script:
[code]

[2018-07-25 07:35] rraymondhp commented on #241
Hi,

I am using macOSX. Replacing the last line with the following line gave me a pop-up image of the circuit:
[code]

[2018-07-25 07:36] kwyip commented on #240
Thanks for the help.

[2018-07-25 07:43] #240 closed

[2018-07-25 07:56] kwyip commented on #241
It does not seem to work for me. I cannot find the source code of circuit_drawer or qiskit.tools.visualization, so I can try to see how to save the image. Do you know where I can find it?

[2018-07-25 08:17] kwyip commented on #105
I encounter `LookupError: backend "ibmqx_hpc_qasm_simulator" not found.` when I try to use `ibmqx_hpc_qasm_simulator`.

[2018-07-25 08:19] rraymondhp commented on #241
If you can use jupyter notebook, I suggest you plot the circuits like this tutorial:

https://nbviewer.jupyter.org/github/QISKit/qiskit-tutorial/blob/master/reference/tools/matplotlib_circuit_drawer.ipynb

[2018-07-25 14:41] nonhermitian commented on #231
We could host our own JupyterHub server, and have the users play with the tutorials there.  We would then control the backside where the token is passed.

[2018-07-26 11:02] rraymondhp commented on #241
I think this issue has been solved. Please reopen it if the problem persists.

[2018-07-26 11:02] #241 closed

[2018-07-26 21:15] ntwalibas opened #244 "Incomplete installation on Ubuntu 16.04"
## Description
Libraries cvxopt, mkl-random, mkl-fft and twisted would not install.

From what I could tell, this may be due to changes upstream and have nothing to do with Qiskit.
Though I solved this issue for myself, it would be nice if the installation went without any problems, especially for those not used to the Python ecosystem.

### Installation directions
Even in the case of an incomplet

[2018-07-29 01:20] rraymondhp commented on #97
https://github.com/Qiskit/qiskit-tutorial/pull/131

[2018-08-08 08:49] rraymondhp opened #248 "Control-H is not correct when used in large circuit"
## Description

The description of Control-H (`ch`) in the tutorial below is correct up to global phase for 2-qubit system. However, when used on larger qubit system, this can cause unexpected results.

https://nbviewer.jupyter.org/github/Qiskit/qiskit-tutorial/blob/master/reference/tools/quantum_gates_and_linear_algebra.ipynb#Controlled-Hadamard-gate

The current implementation (the correct resul

[2018-08-08 10:49] #248 closed

[2018-08-21 05:33] kwyip opened #249 "How can i get the job results if I lost connection when jobs are on queue?"
## Description

## Your Environment

* QISKit version: latest
* Python version: 3.6

I submitted the job. Then the job is on queue, with its jobID shown. Since this takes some time especially when the queue position is high, I need to close my computer (internet connection also lost). When I open my computer again, I can no longer get access to that job again.
The status changes from `JobStatus.QU

[2018-08-21 06:37] kwyip commented on #249
After some testings and with the help of [this snippet](https://github.com/t-imamichi/qiskit-utility/blob/master/run_qasm.py), I confirmed that the job will continue to run and I can also retrieve the result.
However, if there is a disconnection when the job is on queue, in the original terminal where you run the program, it will just get stuck as `JobStatus.ERROR: 'job incurred error'`forever aft

[2018-08-21 13:14] ewinston commented on #249
You can still retrieve the jobs which have been queued after you close your python session. To do this you would just create an instance of your backend and call `mybackend.jobs()`. This will return a list of `job` instances from which you can retrieve your results. The `jobs` function can be supplied several options you can use to filter what jobs you get back,

https://qiskit.org/documentation/_

[2018-08-28 15:43] ajavadia opened #251 "Need to update tomography notebooks to remove QuantumProgram"
## Description

I'll do it.

## Your Environment

* QISKit version:
* Python version:

[2018-09-01 09:55] adjs commented on #97
Great tutorials! In #253 I removed typos and made minor corrections in the equations and description of the Simon's algorithm.

[2018-09-03 09:21] a07r opened #254 "Stuck with my QISkit Installation, Please help!"
Couldn't locate a solution to my problem on the wiki link provided above

## Description

I ran " conda env create -f QISKitenv.yml " just as the guide asked me to do so, and I get following error -

Failed building wheel for psutil
  Running setup.py clean for psutil
  Running setup.py bdist_wheel for mpmath ... done
  Stored in directory: /home/aman/.cache/pip/wheels/33/15/0f/9ca5f2ad88a54568030

[2018-09-05 19:34] amantamirat commented on #97
I want to participate and I had implement Grover's algorithm, what is the next.

[2018-09-05 23:41] attp commented on #97
I think this should be closed now. We have tutorials for Grover's, Shor's and Simon's algorithms, once PR #131 is approved.

[2018-09-06 00:57] jaygambetta commented on #251
cant we close this and just use #193 and #194

[2018-09-06 00:58] jaygambetta commented on #97
I agree

[2018-09-06 00:58] #97 closed

[2018-09-06 01:01] jaygambetta commented on #232
I think @attp answer is correct @amandeep1988 please reopen if you still have problems.

[2018-09-06 01:01] #232 closed

[2018-09-06 01:05] jaygambetta commented on #244
@ntwalibas with @rraymondhp fix this should be working. If not please open again.

Thanks @rraymondhp

[2018-09-06 01:05] #244 closed

[2018-09-06 01:06] jaygambetta commented on #191
I am closing this but if you do come up with something that you think better describes global phase make a pr.

[2018-09-06 01:06] #191 closed

[2018-09-06 01:06] jaygambetta commented on #251
Actually i will just clost them and link it to this issue

[2018-09-06 01:07] jaygambetta commented on #193
covered by issue #251

[2018-09-06 01:07] #193 closed

[2018-09-06 01:07] jaygambetta commented on #194
covered by issue #251

[2018-09-06 01:07] #194 closed

[2018-09-06 01:11] jaygambetta commented on #249
@ewinston answer should fix this. Closing the issue and if you have problems please reopen

[2018-09-06 01:11] #249 closed

[2018-09-06 03:05] jaygambetta commented on #238
closed with #239

[2018-09-06 03:05] #238 closed

[2018-09-06 03:07] jaygambetta commented on #237
close with #239

[2018-09-06 03:07] #237 closed

[2018-09-06 07:15] andysc opened #256 "can't pip install qiskit"
## Description
Trying to install qiskit from instructions here: `qiskit-tutorial/INSTALL.md`

[code]

## Your Environment

* QISKit version: latest
* Python version: 2.7.10
* MacOS

[2018-09-06 07:33] t-imamichi commented on #256
Qiskit requires Python 3.5 or later. See https://github.com/Qiskit/qiskit-terra#dependencies

[2018-09-06 08:04] quantumjim commented on #256
Good catch. We need dependency info in the the INSTALL.md. I added some in a new PR: https://github.com/Qiskit/qiskit-tutorial/pull/257

[2018-09-06 09:00] andysc commented on #256
that would be helpful to mention :)
Also, worth explaining how you make the commands work when you ALSO have python 2.7 installed, please.

[2018-09-06 10:11] diego-plan9 commented on #231
@betatim thanks for your input and recommendation (and on another note, kudos to you and your team on making mybinder.org available, it's very neat!). As jay mentioned, the token is needed for being able to execute circuits in the real devices, and it's pretty central to many tutorials (as the purpose of them is exactly that).

I fully understand your concerns about passing a sensitive value witho

[2018-09-07 06:59] a07r commented on #254
@rraymondhp
Can you help me see this error off please!

[2018-09-07 12:13] rraymondhp commented on #254
@a07r  Sorry for the late response.
It seems that you do not have psutil installed in your system and failed to compile it from the source.

Would you please try installing psutil following the link below?
https://github.com/giampaolo/psutil/blob/master/INSTALL.rst

[2018-09-07 12:49] a07r commented on #254
@rraymondhp  I tried that, error is still the same as above even after installing psutil

I used " conda install -c anaconda psutil " to install it and it ran successfully.

there's another line that says error, perhaps that can help you get a clue,

Running setup.py bdist_wheel for psutil ... error

----------------------------------------

  Running setup.py install for psutil ... error

Maybe m

[2018-09-08 05:16] jaygambetta commented on #106
@nonhermitian and @diego-plan9 will this be fixed in qiskit 0.6

[2018-09-08 11:41] nonhermitian commented on #106
It is on my todo list to modify the tutorials for the new registration system and other Jupyter specific functionality, next week.

[2018-09-09 07:26] betatim commented on #231
There is no good solution really :-(

Our official stance is "just don't do it" which is simultaneously good advice and impractical. One option others have used is to have extremely time limited tokens that are obtained from the notebook via an oauth dance. I can try and find back where I saw that.

[2018-09-10 05:53] quantumjim commented on #231
When using the tutorials for a one time event, could we just tell paticpants to regenerate their keys immediately afterwards (or do so ourselves on the backend)?

[2018-09-10 09:15] quantumjim commented on #256
I changed some things around in the guide to help those that run into problems: PR [#260](https://github.com/Qiskit/qiskit-tutorial/pull/260)

[2018-09-10 22:57] jaygambetta commented on #256
Closing if there are still issues please reopen. Thanks @quantumjim for the fix.

[2018-09-10 22:58] #256 closed

[2018-09-11 10:14] Suragini commented on #62
I am working in Anaconda in spyder editor .
Can anyone tell me how to install qiskit in spyder?

[2018-09-11 10:26] quantumjim commented on #62
Thanks for your question. Someone will be happy to help, but it will be best to take your query to either the [Qiskit Slack](http://ibm.biz/join-qiskit-slack) or the [Quantum Computing Stack Exchange](https://quantumcomputing.stackexchange.com/).

[2018-09-11 10:29] Suragini commented on #62
Okay Sir.
Thank you for this .

On Tue, 11 Sep 2018 at 15:56, James Wootton <notifications@github.com>
wrote:

--
*Suragini Kulshrestha*
*Faculty of Science*
*Dayalbagh Educational Institute*
*(Deemed University, Agra )*

[2018-09-15 03:29] rraymondhp commented on #254
Hi,
Do you still have this problem? If not I recalled that someone proposed to fix the version of each package used by qiskit for smooth installation. The instruction is here:
https://github.com/Qiskit/qiskit-tutorial/wiki/FAQ-and-Troubleshootings

Please let me know if you the above works. If not, I will look for other way around.

[2018-09-15 04:30] a07r commented on #254
I have reported this issue in slack channel [ #qiskit-community ]

Robert Loredo, pointed out - "qiskit-acqua 0.1.2 has requirement numpy<1.15,>=1.13, but you'll have numpy 1.15.1 which is incompatible." could be a cause. and hence I went ahead and got the numpy downgraded to 1.14.5 from 1.15.1 and pip list and conda list confirms that i have numpy 1.14.5 running on my conda, it's just that when I

[2018-09-15 04:36] ninihuang opened #262 "Got a 400 code response"
Hi, I meet an error

[code]
just in this morning. I typed the same code yesterday, it worked successfully. But now it came out with error. I don't know why. Please help to solve it.

The following three blocks are my code:
[code]

[code]

[code]

I have tried to
1.conda install conda
2.python -m pip install --upgrade pip
3.upgrade:pip install -U qiskit

## My Environment
* QISKit version: QISKit-0

[2018-09-20 06:42] rraymondhp commented on #262
Hi,
I copied and pasted your code and run them on my jupyter notebook. It seems running fine. Either there is a maintenance of real-device backends so that you cannot run them at that precise moment, or something with your environment. Would you mind checking it again if your codes run on the simulator and real-device backends when they are not under maintenances?

Here is the output of my code..w

[2018-09-25 18:37] muneerqu commented on #254
Hi a07r,

I think everytime you run `conda env update -f QISKitenv.yml` you install the newest numpy (numpy=1.15) even if you have downgraded it before in the same env. To force installing numpy=1.13 try the following:
1. Open `qiskit-tutorial/QISKitenv.yml`
2. Under dependencies add `numpy=1.13`
3. In the current tutorial `QISKitenv.yml` will looks like:
[code]
4. Run `conda env update -f QISKite

[2018-09-26 08:27] a07r commented on #254
Hi Muneer,

Somehow I had lot of dependencies missing on my machine, I had to install them one after the other and was successful in doing so. but for some reason they never showed up on my QISKitenv.yml file not sure if that's a hard requirement (you can see my yml file in this issue). Not knowing if I have to manually add them in the yml file I went ahead and followed the steps that you have sha

[2018-09-26 08:51] rraymondhp commented on #254
@a07r
Hi, I wonder if you have switched to the `QISKitenv` before updating and installing with `pip`. You have to do `source activate QISKitenv` before installing and/or upgrading in the environment. Otherwise the updates and installs are not properly done at the intended environment.

Please refer to this for conda env:
https://conda.io/docs/user-guide/tasks/manage-environments.html

[2018-09-26 09:14] a07r commented on #254
Hi,
It's doing all it's doing after I ran " conda env create -f QISKitenv.yml " and get above error.. I don't know why it's trying to update and install using pip on it's own.
Am I missing anything here?

[2018-09-26 09:20] rraymondhp commented on #254
It seems that you do not have `gcc` installed. Depends on your Linux distribution, but you have to install the gcc package first.

[code]

[2018-09-26 09:39] a07r commented on #254
Hi Again, That solved the problem. It isn't throwing me any error anymore.
Thanks a lot!

[2018-09-26 09:58] muneerqu commented on #254
Great,
This command installs gcc on Red Hat and CentOS:
` yum groupinstall 'Development Tools' `

[2018-09-26 10:59] a07r commented on #254
@muneerqu I have directly installed gcc alone using yum.. What do you reckon? Shall I run above yum command or not?

[2018-09-26 11:04] muneerqu commented on #254
If everything works fine, don't install it. Just keep it as a reference for the future.

[2018-09-26 12:07] rraymondhp commented on #254
Great.. I can close this issue.

[2018-09-26 12:07] #254 closed

[2018-09-26 12:08] rraymondhp commented on #262
Hi,
I am closing this issue. Please reopen if you still have problems.

[2018-09-26 12:08] #262 closed

[2018-09-28 03:18] rraymondhp opened #267 "Adding guidelines to contributing"
Add description about how to contributes following [qiskit-terra](https://github.com/Qiskit/qiskit-terra/blob/master/.github/CONTRIBUTING.rst)
## Description

## Your Environment

* QISKit version:
* Python version:

[2018-10-01 12:04] andysc opened #273 "error calling available_backends"
Using the Quantum_world tutorial

## Description

available_backends reports:
`['ibmq_16_melbourne', 'ibmqx2', 'ibmqx4', 'ibmqx5']`
Then
[code]

gives
[code]
## Your Environment

* QISKit version: (not sure) latest (installed today)
* Python version: **Python 3.6.6 :: Anaconda, Inc.**

[2018-10-02 00:13] nonhermitian commented on #273
Yes we know about this issue. It will be fixed tomorrow. It is due to API updates for 0.6.

[2018-10-02 10:13] nonhermitian commented on #273
This has been resolved.  If not please re-open this issue.

[2018-10-02 10:13] #273 closed

[2018-10-04 02:10] #267 closed

[2018-10-04 02:27] jaygambetta opened #277 "why the util folder"
## Description

## Your Environment

* QISKit version:
* Python version:
@diego-plan9 do we need the utils folder.

[2018-10-04 06:01] diego-plan9 commented on #277
It was used previously for other purposes, but at the moment is just for being able to run the tutorials as tests via the command line - see #151. I don't think it has been really used for this purpose, but by doing it that way, errors due to changes in the versions can be changed more systematically, opening the door for running travis or similar.

[2018-10-06 14:28] jaygambetta commented on #277
Ok

we can keep it for now even though we don't use it.

[2018-10-06 14:28] #277 closed

[2018-10-06 14:29] jaygambetta commented on #106
This is now done with the IBMQ.load_accounts() etc. There should be no more Qconfig in the tutorials. Some of the old ones have it but moving forward there is no need.

[2018-10-06 14:29] #106 closed

[2018-10-06 16:49] jaygambetta opened #281 "Community - algorithms"
## Description

I would like the folder community / algorithm to be like a list of the textbook algorithms using qiskit.

I think we need a readme.ipynb that gives an overview and is linked to from the main index.ipynb rather than the folder that it currently goes to.

We have a really good start but let’s just think about how they go together.

## Your Environment

* QISKit version:
* Python vers

[2018-10-06 16:54] jaygambetta opened #282 "Community - Games"
## Description

Let’s make the folder community /games be a place where all the cool games people have come up with live.

I think it can be linked to by the main index.ipynb but I let @quantumjim come up with how this folder should be arranged.

## Your Environment

* QISKit version:
* Python version:

[2018-10-06 16:59] jaygambetta opened #283 "Community - hello world"
## Description

I think the folder hello world should be a place where the community puts there hello quantum programs. We have a few of them in there but it would be good to think about the structure of this.

@quantumjim can you think about this.

## Your Environment

* QISKit version:
* Python version:

[2018-10-06 17:04] jaygambetta opened #284 "Community - aqua"
## Description

I would like the repo aqua-tutorial to be merged into a folder in here. This should provide more advanced quantum applications and include contributions from the community about how they are using aqua.

This should be linked from the qiskit/aqua which is really only there to highlight how to use aqua and its features. This folder should focus on teaching how developers how to writ

[2018-10-06 17:34] jaygambetta opened #285 "Community - terra"
## Description

I would like to have some thinking about how we arrange community terra. It should have some structure inside so that the awesome inputs from the community are useful for people wanting to learn about quantum information science using qiskit.

We have many great tutorials and there needs a great path off learning.

The landing from the main file is
3.4 Quantum Information Science w

[2018-10-06 17:40] jaygambetta opened #286 "Merge terra branch into master"
## Description

After a few people look at the terra branch let’s merge it in

## Your Environment

* QISKit version:
* Python version:

[2018-10-06 17:44] jaygambetta opened #287 "Community - Teach Me Qiskit"
## Description

Replace the readme.md with a readme.ipynb notebook so that it simpler to get from the index.ipynb

## Your Environment

* QISKit version:
* Python version:

[2018-10-06 18:13] jaygambetta commented on #285
@attp can you think about this.

[2018-10-06 18:13] jaygambetta commented on #284
@pistoia can you think about this.

[2018-10-06 18:14] jaygambetta commented on #281
@rraymondhp can you think about this.

[2018-10-06 18:20] jaygambetta opened #288 "Codeowners and approving set up to speed things up"
## Description

@diego-plan9  can you set up so that we only need 1 approver from the following codeowners for the different folders.

qiskit @jaygambetta
community/hello_world @quantumjim
community/games @quantumjim
community/algorithms @rraymondhp
community/terra @attp
community/teach_me_qiskit_2018 @rraymondhp
community/aqua @jaygambetta (TBD)

## Your Environment

* QISKit version:
* Python ve

[2018-10-06 18:38] #287 closed

[2018-10-06 18:45] nonhermitian commented on #286
This looks good to me. There are probably a few places to polish, but they can be done in the bigger tutorials refactor.

[2018-10-06 20:31] jaygambetta opened #290 "qiskit - aqua"
## Description

In the folder qiskit/aqua can we get the developer notebooks. @chunfuchen this is basically you pr #280 can you change in this the using qconfig to IBMQ.load_accounts()

- [x] Chemistry
- [x] Optimization
- [x] Artificial Intelligence
- [x] finance

## Your Environment

* QISKit version:
* Python version:

[2018-10-06 20:33] jaygambetta opened #291 "qiskit - ignis"
## Description

Can we fix the notebooks in qiskit/ignis to run on the new version of terra. @chriseclectic  i think its best if you do this.

- [x] Relaxation and decoherence
- [x] Quantum tomography

we should merge state and process tomography

## Your Environment

* QISKit version:
* Python version:

[2018-10-06 20:34] jaygambetta opened #292 "qiskit - terra"
## Description

In the terra section, we need the following notebooks.

- [x] quantum circuit
- [x] circuit visualizations
- [x] Using different gates - list of gates in Terra and their linear algebra.
- [ ] loading circuits from qasm
- [ ] Compiling and executing a quantum program
- [x] The Transpiler (@ajavadia)
- [x] quantum_info
- [x] Pauli and tools
- [x] creating a Provider

## Your Environm

[2018-10-06 20:35] jaygambetta opened #293 "qiskit - basic"
## Description

In the basic notebook, we need one showing how to add a 3rd party when JKU comes out I will do this with @diego-plan9 and @yehuda-naveh.

- [x] Getting started
- [x] The IBMQ provider
- [x] plot sate visualizations
- [x] Juypter tools
- [x] 3rd Party Provider

In the visualization less on what a state is just how to plot it and show the interactive ones as well.

## Your Environmen

[2018-10-06 20:38] jaygambetta opened #294 "qiskit - aer"
## Description

Add a tutorial on how to use qiskit aer

### Simulation basics
- [x] Simulating the statevector
- [x] Simulating the unitary
- [x] Simulating with noise

### Simulations with noise
- [x] Using device noise models

## Your Environment

* QISKit version:
* Python version:

[2018-10-06 20:50] muneerqu opened #296 "community-terra- Updating examples"
## Description

I updated some of the examples in qiskit-tutorial/community/terra/
[beginners_guide_composer_examples.ipynb](https://github.com/muneerqu/qiskit-tutorial/blob/terra_0.6_temp/community/terra/beginners_guide_composer_examples.ipynb)
[fourier_transform.ipynb](https://github.com/muneerqu/qiskit-tutorial/blob/terra_0.6_temp/community/terra/fourier_transform.ipynb)
[topological_quantum_wa

[2018-10-06 20:58] jaygambetta commented on #296
Yes, it would. Thanks very much.

Don't push yet as I'm about to try to merge terra with master but I'm not touching that section at the moment so you are all good. After the merge, I would pr your changes into master as I will close down the temp branch (will not affect your local branch).

Also if you are interested with @attp and others you should discuss how that section should be arranged in

[2018-10-06 21:02] muneerqu commented on #296
Sounds good thank you.

[2018-10-06 21:11] jaygambetta commented on #296
#299  should make master the new structure.

[2018-10-06 22:51] #286 closed

[2018-10-07 01:54] jaygambetta commented on #293
Getting started done in pr #305

[2018-10-07 02:31] jaygambetta opened #306 "Community - teach me qiskit 2018"
## Description

There are 3 notebooks that fail to open. @rraymondhp could you look into why

- [ ] qiskit-tutorial/community/teach_me_qiskit_2018/state_distribution_in_qubit_chains/qubit_chain.ipynb

- [ ] qiskit-tutorial/community/teach_me_qiskit_2018/state_distribution_in_qubit_chains/qubit_chain_mod.ipynb

- [ ] qiskit-tutorial/community/teach_me_qiskit_2018/state_distribution_in_qubit_chains/

[2018-10-07 07:13] jaygambetta commented on #293
Getting started done in pr #307

[2018-10-07 07:41] qubeat commented on #306
Hello. Updated version of all my notebooks is still here https://github.com/qubeat/quchain/tree/qiskit_fix/IBM-QE/qiskit-simulator
three days ago I tested three notebooks you mentioned with Qiskit 0.6.1. It worked.

[2018-10-07 13:56] #231 closed

[2018-10-07 14:46] jaygambetta commented on #306
@qubeat is it possible that you can contribute them to the folder here or work out with @rraymondhp how to link to that repo

[2018-10-07 16:47] qubeat commented on #306
@jaygambetta it is up to you and @rraymondhp  I just mean, my notebooks for Qiskit-0.6 are ready and may be used instead of earlier version. Should I do a pull request or wait some time?

[2018-10-07 16:55] muneerqu commented on #306
@qubeat can you make sure the `Quantum Sphere` mode works in `qubit_chain_mod.ipynb`? I get `KeyError: 'quantum_state'` when I set:
[code]
let me know if i'm missing something.

[2018-10-07 17:12] jaygambetta commented on #306
@qubeat I would prefer you to do the Pr that way we get your original contributions added. I would also add to the readme in the teach_me_qiskit_2018 folder a note like @qubeat made this version of the tutorial 0.6 compatible under the link to your tutorial.

[2018-10-07 18:16] qubeat commented on #306
@muneerqu  I just checked, the `hidden option` indeed does not work more. I also reread newer documentation and tried to use 'statevector' instead of 'quantum_state', but it does not work either. Maybe I missed something. Maybe trick with shot=1 does not work more and I should delete the commented option and `hist'.

[2018-10-07 19:34] qubeat commented on #306
@muneerqu I fixed the notebook. The hist = False option should work now and draw quantum sphere

[2018-10-07 19:40] muneerqu commented on #306
@qubeat Yes, it works.

[2018-10-07 20:09] jaygambetta commented on #306
Don’t use the shots equals one. Use the state vector backend.

Good point about the raw text I should change the file from readme.ipynb to index.ipynb or something.

[2018-10-07 20:29] jaygambetta commented on #306
Yeah but the readme.md could not link from the master ipynb. I see now that github does not render readme.ipynb which is strange. I don’t want to have two files that have same content so I make a new name.

[2018-10-07 22:37] jaygambetta commented on #306
I changed it to index.ipynb and now it does not display which I think is better but you need to click on it.

When you do you pr iI would take the line form

https://github.com/Qiskit/qiskit-tutorial/blob/258c5c1ec725f981ab366fcfc26ef60090ba7b72/community/teach_me_qiskit_2018/index.ipynb

and add it to the qiskit 0.6 section.

Hope that helps.

[2018-10-08 06:43] betatim commented on #231
Thanks for the work on this and the positive attitude to someone stopping by with a grumpy "you make it harder for us to educate our users" comment :)

[2018-10-08 11:39] #288 closed

[2018-10-08 15:03] chunfuchen commented on #290
updated PR #280 for the issue.

[2018-10-08 20:48] muneerqu commented on #285
I am going to reference some updates on some tutorials in [community/terra](https://github.com/Qiskit/qiskit-tutorial/tree/master/community/terra) to run on Qiskit 0.6.1.
I would appreciate any feedback.

[2018-10-08 20:57] jaygambetta commented on #285
I’m not sure I know what you mean.

[2018-10-08 22:27] muneerqu commented on #285
I updated some notebooks and I am wondering if I should create a PR or reference the changes here for review/feedback before I create the PR.

[2018-10-08 22:46] jaygambetta commented on #285
Making a PR would be great.

[2018-10-09 05:29] attp opened #314 "pip install qiskit does not install ipywidgets"
## Description
`pip install qiskit` does not install ipywidgets and thus causes an error in `getting_started.ipynb`

## Your Environment
* QISKit version: 0.6.1
* Python version: 3.6.5

[2018-10-09 10:17] nonhermitian commented on #314
ipywidgets, and Juypter itself, are not required to run qiskit, and are therefore not installed by the pip installer.  All of the stuff needed to run the notebooks is in the `environment.yml` file in the tutorials directory, and we give instructions on how to install it.  That being said, all of the stuff you need to run the notebooks is included by default in the Anacona Python distrobution, and

[2018-10-09 14:45] qubeat commented on #306
@jaygambetta I created the pull request

[2018-10-09 22:34] attp commented on #314
Thanks, I'm using qiskit through an Anaconda environment and it wasn't installed automatically, so this might be a problem that others run into (I saw the same question on the slack community as well).

[2018-10-09 22:50] nonhermitian commented on #314
I would think the best solution is to spell out the requirements somewhere in the readme or install instructions. Right now everything needed is in the environment.yml, but not really explicitly spelled out.

Another option would be to have the environment installed by qiskit install everything needed for the tutorials as well, even though some things are not strictly necessary for qiskit itself.

[2018-10-10 00:57] jaygambetta commented on #314
did you run

[code]

[2018-10-10 01:03] attp commented on #314
Ah, no I didn't upgrade my environment as the install instructions suggest. Thanks.

[2018-10-10 01:03] #314 closed

[2018-10-10 05:20] rraymondhp commented on #281
I will make a plan soon. Please wait.

[2018-10-10 12:37] #306 closed

[2018-10-11 06:00] attp commented on #285
Initial plan to have a set of introductory notebooks introducing superposition & entanglement:
    Single Qubits: Superposition
    Single Qubits: Amplitude and Phase
    Multiple Qubits: Creating Entanglement
    Multiple Qubits: Testing Entanglement
    Multiple Qubits: Teleportation and Superdense Coding

[2018-10-11 06:18] rraymondhp opened #326 "[Not urgent] Completing the community standards?"
## Description

The link below alerts that qiskit-tutorial is still behind the standard of github repository (templates etc.). Do we need to handle it explicitly (like qiskit-terra), or leave it behind as we have already fulfill them?
https://github.com/Qiskit/qiskit-tutorial/community

## Your Environment

* QISKit version: v0.6
* Python version: 3.6

[2018-10-11 11:35] jaygambetta commented on #326
Sure make a pr

[2018-10-12 05:36] quantumjim commented on #285
The introductory set of notebooks sound good. Maybe some of the proposed topics could be combined (like a single notebook for creating and testing entanglement), but such things probably only become clear in the writing.

I wonder if it might be possible to include little code challenges in these. Where we leave a code block for people to add in some qiskit code, with the aim of creating some spec

[2018-10-12 19:59] quantumjim commented on #285
I had not noticed that the intro notebooks mentioned by @attp are ones that already exist. So some of what I said above is nonsense, but it still might be nice to see if more exercises could be fitted into them somehow.

[2018-10-12 22:10] jaygambetta commented on #285
I like the introductory ones and think the folder is good. I don’t like what I wrote in amplitude and phase and I would make it more like the user guide i updated. Have you looked at that

[2018-10-14 22:51] attp commented on #285
Thanks for your input @quantumjim and @jaygambetta, I'll:
1. set up the structure with qis-intro, qis-adv, qec. I like the idea of having a folder with one tutorial, and asking for contributions.
2. rework the introductory tutorials to be more accessible (I'll have a look at the QX user guide as well) and add exercises (great idea!),
3. update the advanced ones for qiskit 0.6 (I see that @muneerqu

[2018-10-14 22:52] jaygambetta commented on #285
Sounds great.

[2018-10-15 09:58] muneerqu opened #339 "Attempt to update Wigner Functions notebook"
## Description

Following #337 I updated "wigner_functions.ipynb" to run on Qiskit 0.6.1 and I faced the following issues:

1. Couldn't use plot methods `plaquette` & `curve` in `plot_state()`
2. Couldn't adjust the `resolution` of the plots, no `res` parameter to pass in `plot_state()`

As a temporary solution, I added `plot_wigner_plaquette()` and `plot_wigner_curve()` methods from `terra` `(_st

[2018-10-15 23:31] jaygambetta commented on #339
yes, this is broken and plot_wigner_blah should not be used directly. @mtreinish these methods need to be options in plot_state. Maybe they are but I can't check now. I will look later when not traveling.

[2018-10-16 01:56] jaygambetta commented on #339
moving to https://github.com/Qiskit/qiskit-terra/issues/1106 in terra.

[2018-10-16 02:44] zzhan127 opened #342 "aqua classical_optimization tutorial using real quantum computer"
## Description

I am working on the classical_optimization in aqua directory. It works well using qasm_simulator. However, when changing params['backend']['name'] = 'qasm_simulator' to params['backend']['name'] = 'ibmqx4' or params['backend']['name'] = 'ibmq_16_melbourne', the code runs endlessly and starts creating jobs on the quantum computer again and again. Then, when I check the histogram res

[2018-10-16 02:46] zzhan127 commented on #342
![screenshot from 2018-10-15 22-31-00](https://user-images.githubusercontent.com/25940833/46989679-f6a8db80-d0cb-11e8-8e12-b3b3c2a5db0c.png)
The left is the plot of real ibmqx4 result and the right one is the qasm_simulator result.

[2018-10-16 03:18] chunfuchen commented on #342
There are a couple of things:
1. VQE underlying creates the circuits for each iteration, so you will see the multiple job creation.
2. The results on the simulator and real hardware could be different since the tutorials run the example on a noise-free simulation. You might need to apply some technique to mitigate those errors when you experimenting on a real device.

[2018-10-16 15:37] zzhan127 commented on #342
Thanks. I will investigate more on how to mitigate the errors in real device.

But when I run this part using  'ibmq_16_melbourne' in jupyter,
`# run quantum algorithm with shots
params['algorithm']['operator_mode'] = 'grouped_paulis'
params['backend']['name'] = 'ibmq_16_melbourne'
params['backend']['shots'] = 4086

result = run_algorithm(params, algo_input)
x = maxcut.sample_most_likely(result['e

[2018-10-16 17:49] chunfuchen commented on #342
I think it is because your job is queued for a long time.
You can turn on the aqua logging to see the progress of optimization.

like
[code]

[2018-10-18 06:55] rraymondhp opened #344 "A tutorial on using gate noise/error parameters in simulation"
## Description

qiskit-terra version 0.6 supports setting noise parameters. It will be better if we can provide a tutorial on how to set the parameters, and how to use them to model noises.

## Your Environment

* QISKit version: terra 0.6
* Python version:

[2018-10-19 00:10] rraymondhp commented on #344
Thanks! My colleagues in Keio and I will try to think about it.

[2018-10-19 00:17] jaygambetta commented on #344
I would rather wait until aer is out as we have not decided on the interface.

[2018-10-19 08:13] yangjy0826 opened #346 "Is it meaningful to test the speed of algorithms running on local simulator?"
## Description

Hi, I am new to the quantum computing area, and I am now studying some quantum algorithms. I would like to compare the speed of quantum algorithm and traditional algorithm using QISKit, like QFT and FFT.

I find that the remote chips are usually busy, so the running time is quite long and I deciede to use local simulator instead. But I am not sure if it is meaningful to test the sp

[2018-10-19 10:48] ajavadia commented on #346
Hi @yangjy0826. If you're just interested in how long the program takes to execute on a quantum computer, you can probably make some estimates based on the circuit depth. You don't actually need to run anything. Just take the circuit, compile it, and then add up the delays on the longest path of the compiled circuit. Single qubit gates are (ballpark) 10 ns, and two qubit gates 100 ns.

Simulation

[2018-10-21 13:49] #346 closed

[2018-10-21 13:49] #342 closed

[2018-10-21 14:46] jaygambetta commented on #282
@quantumjim should we close this now and then you can open another one later for changes or make a project for it if there is lots of planning remaining.

[2018-10-21 14:47] jaygambetta commented on #283
@quantumjim should we close this now and then you can open another one later for changes or make a project for it if there is lots of planning remaining.

[2018-10-22 20:07] chunfuchen commented on #290
related to #348  and #351

[2018-10-23 12:02] quantumjim opened #356 "Example of classical control needed for multi-bit registers"
## Description
The notebook on ['using different gates'](https://github.com/Qiskit/qiskit-tutorial/blob/master/qiskit/terra/using_different_gates.ipynb) has an example of classical control for a single bit register. It is not trivial to work out how to adapt this for a many bit register, so an additional example should be given.

This can then be used to answer [this question](https://quantumcompu

[2018-10-24 06:36] quantumjim commented on #356
I posted [this answer](https://quantumcomputing.stackexchange.com/a/4516/409) to the above question. It seems a bit of a hack to me, but if it represents best practice then I'll add it to the tutorial.

[2018-10-26 17:49] ModMaamari opened #359 "How to run Qisqit using Google colab notebooks"
## Description
The line :
`!source activate Qiskitenv`
is not working in colab.research.google.com notebooks
the error message I'm facing is :
`/bin/bash: activate: No such file or directory`
## My Environment
colab.research.google.com notebook with GPU on, and Python 3.6.6
* Python version: Python 3.6.6

[2018-10-26 19:34] muneerqu commented on #359
You just need to run this code in a Google colab notebook to install Qiskit.
[code]

[2018-10-27 03:55] jaygambetta commented on #284
@chunfuchen @pistoia is everything from aqua-tutorial here now. Can we close this.

[2018-10-29 23:52] rraymondhp commented on #356
I have written a small example here using `c_if` (is it what you mean by classical control?)
https://github.com/Qiskit/qiskit-tutorial/blob/master/community/games/quantum_counterfeit_coin_problem.ipynb

[code]

[2018-10-30 08:02] quantumjim commented on #356
@rraymondhp As I understand, the first two examples here are conditioned on an entire classical register being zero, and the third is conditioned on the register being `100...000`. Is this correct? What I'm specifically asking is how to use  a `c_if` command that is conditioned on just a single bit.

@jaygambetta I opened [this issue](https://github.com/Qiskit/qiskit-terra/issues/1160).

[2018-10-30 09:39] rraymondhp commented on #356
@quantumjim  Yes, you are correct. I was not able to write individual bit as a controller, and hence that style of writing. This is because the `c_if` only accept argument the whole classical bit.

[2018-11-01 10:42] yangjy0826 opened #361 "Question regarding QFT"
## Description

Hi, I am now using QISKit to realize quantum fourier transform. I run the code provided by you in [this link](https://github.com/Qiskit/qiskit-tutorial/blob/7bc40e964dec2a37ac5915c3b84c01af9c2ef754/community/terra/fourier_transform.ipynb).

The input state is set to 000 by default. Is there any methods to change the input, for example to 001?

Could you please answer my question? T

[2018-11-01 11:43] jaygambetta commented on #356
great lets close here and track in terra

[2018-11-01 11:43] #356 closed

[2018-11-01 15:10] muneerqu commented on #361
Hi @yangjy0826

To change the initial qubit from `0` to `1` you can apply the `X` gate.
In the 4th cell of the notebook the statement `q = QuantumRegister(3)` creates a quantum register with 3 qubits all in state `0`.
To change one qubit from `0` to `1` you can apply `X` to that particular qubit (using the qubit index) right after you create the circuit. The 4th cell becomes:

[code]

[2018-11-01 15:30] yangjy0826 commented on #361
Oh I understand! That's smart. Thank you so much! But I still have a question: when you design this package, why dont't you consider to design a function to set the initial value?

[2018-11-01 15:40] jaygambetta commented on #361
because that is really user code to make the state to have the Fourier transform applied to.  I think this should be left to the user but the user can use the initializer method to make the state they want.

[2018-11-01 15:40] #361 closed

[2018-11-01 15:48] yangjy0826 commented on #361
OK, thanks!

[2018-11-01 22:34] #284 closed

[2018-11-01 22:37] jaygambetta commented on #359
@muneerqu and @ModMaamari is there still an issue here or can we close this.

@muneerqu thanks for the fix

[2018-11-01 22:41] muneerqu commented on #359
@jaygambetta You can close this issue. I will be happy to help @ModMaamari if more help is needed.

[2018-11-02 03:00] #359 closed

[2018-11-02 03:01] jaygambetta commented on #285
@attp I think we can close this and you can make a new one to change it. Do you agree.

[2018-11-02 03:02] jaygambetta commented on #326
@rraymondhp is there any update.

[2018-11-02 03:05] attp commented on #285
yes, I agree, the initial rearranging is complete.

[2018-11-02 03:05] #285 closed

[2018-11-02 15:07] rraymondhp commented on #326
@jaygambetta  I am working on it. There are two ways:
1. The easiest by web tool at github. But it creates temporary new branches that can be deleted once merged.
2. Creating PRs. No new branches but quite complicated.
Can I do 1?

[2018-11-07 12:11] neoricalex opened #367 "QISKit-Tutorials-basics-visualizations"
## Description

First, thanks for all youre work.
Ive only the high-school and im portuguese, so, sorry about my english and math.

If i understood, a pure state, is what we as humans today can do better in measuring a "fixed" state.

Also, if i understood the idea, a GHZ State, is the string that carry out the information from one Schrödinger Cat box to the other.

So, If my thougth is NOT 100% e

[2018-11-07 18:49] neoricalex commented on #367
[Off-Topic]

[2018-11-07 18:49] #367 closed

[2018-11-08 18:30] yangjy0826 opened #369 "How to obtain wavefunction from quibit registers"
## Description

Hi, I found in this [link](https://github.com/QISKit/qiskit-terra/issues/281) that there is a way to obtain wavefunction from quibit registers, and an  example is given:
[code]
its output is:
[code]
But when I was trying the code, I find that `QuantumProgram` and `qiskit.extensions.qiskit_simulator` can't be imported successfully. I am not sure whether it's because of the updating

[2018-11-08 21:21] dtmcclure opened #370 "terra/compiling_and_running notebook is still using qiskit 0.5 conventions (e.g. QuantumProgram)"
## Description
It was pointed out to me that the notebook at https://github.com/Qiskit/qiskit-tutorial/blob/master/qiskit/terra/compiling_and_running.ipynb is trying to import QuantumProgram despite being in the section of notebooks that should be kept up to date for the latest Qiskit version. This is generating an error.

## Your Environment

* QISKit version: 0.6
* Python version: 3.6

[2018-11-08 21:33] jaygambetta commented on #370
This is not updated and will be removed it was moved due to a mistake

[2018-11-09 11:59] yangjy0826 commented on #369
I searched for the [Changelog](https://qiskit.org/documentation/CHANGELOG.html?highlight=wavefunction), and found that in the `Deprecated` part of version 0.5.0, there is a sentence saying ''Simulators no longer return wavefunction by setting shots=1. Instead, use the local_statevector_simulator, or explicitly ask for snapshot.'' What does it mean?

[2018-11-09 15:16] hellmersjl3ds opened #372 "UCCSD/VQE Chemistry Examples very slow"
## Description
Running several of the UCCSD variational chemistry examples (NaH dissociation curve using VQE and UCCSD) run extremely slow.  Is this expected?  It's taking over 24 hours.

## Your Environment
If done this on a Ubuntu VM with 4 cores and 16GB of RAM and on a Mac with 4 cores and 16 GB RAM.
* QISKit version:0.6.1, Aqua 0.3.0, Aqua Chemistry 0.3.0
* Python version:3.6.4 (Anaconda)

[2018-11-09 15:41] chriseclectic commented on #369
That standard way to the get the final state vector is to use the `statevector_simulator` backend to execute a single shot of a circuit with no reset or measure instructions. For example:

[code]

This will return the output
[code]

You may also use `result.get_statevector(circ)` to directly get the np array from the output of the statevector simulator.

[2018-11-09 16:07] yangjy0826 commented on #369
Thank you so much! This is exactly what I'm looking for.

[2018-11-09 16:14] chriseclectic commented on #369
No problem!

[2018-11-12 00:39] chunfuchen commented on #372
The time you need is related to the problem size and your setting.
By using UCCSD, you create a very long circuit for NaH (2784 operations with depth 1655), and you also evaluated a large distance between two atoms, which makes harder to converging to ground state energy if you only have HF guess.
And as you can see that the number of evaluation you needed at the bottom to build the whole dissocia

[2018-11-12 01:09] #370 closed

[2018-11-12 15:06] hellmersjl3ds commented on #372
Thanks for the info.  I'm running on my Mac.  It has been running since Friday and is only on step 20.

I'll probably cancel it and add the logging you indicate to get a better idea what it actually is doing, since that's what I'm really interested in anyway.

Has anybody looked into parallelizing some this processing?  It might be a bit problematic since we are dealing with Python.

[2018-11-12 23:34] #369 closed

[2018-11-15 05:05] dongreenberg commented on #372
Hi Joe,

One other thing may be worth trying. You can run the following code in a python interpreter or notebook cell:

[code]

If your result is `'statevector_simulator_py'`, then your installation or execution of the cpp simulator may have failed, in which case it would be failing over to the python simulator, which is considerably slower.

[2018-11-15 15:10] hellmersjl3ds commented on #372
I'm not sure if it is important or not but the routine is trying unsuccessfully to find nlopt.  Maybe that is causing the problem?

[2018-11-15 15:42] chunfuchen commented on #372
no, it is not, without those packages, you won't be able to use those components (e.g., nlopt is a global optimizer) but it won't degrade your speed.

[2018-11-15 19:46] fbm2718 opened #382 "Problem with long jobs containing identities"
## Description
Hi guys,
I recently encountered quite a strange problem.

I create some simple quantum circuits for all five qubits in ibmqx4. The circuits are as follows - for each qubit there are four circuits. Every second is an identity, and every other second is a random unitary. This way I create 20 circuits, from which every second is an identity.

Here are exemplary results: https://image.i

[2018-11-29 13:31] prince-ph0en1x opened #398 "Tutorial version ahead of QISKIT pypi"
This tutorial repo is the first point of entry to learning QISKIT. Some of the latest commits added functions for QISKIT 0.7 which is not yet released. I think it is better to not get ahead and keep the tutorials compatible with the QISKIT pip installed version (i.e. 0.6.x) to avoid confusing new Qiskitters (like me). My suggestions:
* The tutorial developments for future versions can be in a sepa

[2018-12-04 15:13] holly-cummins opened #401 "quantum_emoticon.ipynb relies on ibmqx5, which has been retired"
## Description
The quantum emoticon tutorial ([`quantum_emoticon.ipynb`](https://github.com/Qiskit/qiskit-tutorial/blob/master/community/hello_world/quantum_emoticon.ipynb)) uses `ibmqx5`. https://www.research.ibm.com/ibm-q/technology/devices/ shows it has been retired, and the closest comparable system is 14 qubits.

The good news is that ASCII is strictly 7 bits, not 8 bits, so the demo should w

[2018-12-04 21:21] holly-cummins commented on #401
PR #404

[2018-12-07 11:50] lukasszz opened #407 "Bitstring encoding new tutorial"
Basing on the tutotrial "qiskit-tutorial/community/hello_world/string_comparison" I wanted to prepare something simpler and explained in more details. Could you help me answer my questions and provide better explanation in placess marked by: (???)
in [bitstring_encoding.ipynb](https://github.com/lukasszz/qiskit-tutorial/blob/bitstring_enc/community/hello_world/bitstring_encoding.ipynb)

[2018-12-09 22:02] attp commented on #401
Closing this now that PR #404 has been merged.

[2018-12-09 22:02] #401 closed

[2018-12-10 14:41] quantumjim commented on #407
**??? 1**

In this encoding a four bit output of `abcd` means that the value at position `abc` of the original bit string is `d`. So, for example, `0001` means that the value at position `000` (i.e. 0, and so the first bit in the original string) is `1`.

To decode, you can loop through all the four bit strings, extract the positions (from the first three bits) and the values (from the fourth) and

[2018-12-10 14:44] quantumjim commented on #407
Also, we'd love to host your simpler and more explained method here when it's done.

[2018-12-11 08:46] lukasszz commented on #407
@quantumjim Thanks for your elaborated explanation. I'm going to finish my notebook and of course do the pull request to the source repo. Thanks for your time once again.

[2018-12-14 14:32] quantumjim opened #420 "Imports for packages are not intsructive"
## Description
Many tutorials start with a big block of imports. I don't this is optimal, since

* When tools are used later, it is not clear whether they are qiskit or not.

* Changes are made to notebooks making certain imports unnecessary, but they still remain (and provide problems for new versions). For example, the import of `CompositeGate` in [this notebook](https://github.com/Qiskit/qiskit

[2018-12-14 14:33] quantumjim commented on #420
@attp @rraymondhp What do you think of adopting this style going forward?

[2018-12-14 14:42] rraymondhp commented on #420
Thanks for pointing this. I agree we have to clean the import and start reviewing if they are needed at all.

[2018-12-15 08:12] lukasszz commented on #407
Hi @quantumjim, I'm still working upon the tutorial could you please take a look on **(??? 4)**.

[2018-12-15 19:20] jaygambetta commented on #420
Show me the import block you are thinking.

[2018-12-15 22:37] jaygambetta commented on #326
Sure do one.

[2018-12-16 07:34] KishoreSShenoy commented on #18
@rraymondhp the link you shared does not work now. Can you send another one, or share the code?

[2018-12-17 13:46] quantumjim commented on #420
Below is what I'm thinkingm using the sniopet from the qiskit website. Just a matter of importing directly before first use. Not best practice for actual usage, perhaps, but I think it better shows what needs to be imported and why.

[code]

[2018-12-17 16:00] muneerqu commented on #18
Hi @KishoreSShenoy

Please try these links [Teleportation](https://github.com/Qiskit/qiskit-tutorials/blob/31ea17ed50f8af83b6c3fa31c10a3ea326d03f8b/community/terra/qis_intro/teleportation_superdensecoding.ipynb) / [nbviewer-Teleportation](https://nbviewer.jupyter.org/github/Qiskit/qiskit-tutorials/blob/31ea17ed50f8af83b6c3fa31c10a3ea326d03f8b/community/terra/qis_intro/teleportation_superdensecodin

[2018-12-17 22:45] #294 closed

[2018-12-17 23:44] attp commented on #420
I think we definitely need to check if tutorials are using what they import. However, I'm not sure about importing packages right before they are used. In my own code, I sometimes use the following convention so that the namespace of the functions I'm using is obvious:
[code]

[2018-12-18 05:36] attp opened #436 "Personal notes still to be found in Summary of Quantum Operations tutorial"
Personal notes found:

These should be resolved and removed.

[2018-12-18 12:31] jaygambetta commented on #436
yeah, we can remove them.

[2018-12-18 12:31] jaygambetta commented on #290
closing as notebooks are updated to 0.7

[2018-12-18 12:31] #290 closed

[2018-12-19 03:04] #436 closed

[2018-12-19 03:05] #291 closed

[2018-12-22 10:16] Tomev opened #464 "Import error in QISKit 0.7.0"
## Description

Hello,

 I've updated QISKit to v. 0.7.0 but now, when I try to import circuits and registers via

`from qiskit import QuantumCircuit, ClassicalRegister, QuantumRegister`

I'm geting an import error

which occurrs in my PyCharm and in Anaconda Prompt. I tried changing import from above to

`from qiskit.circuit import QuantumCircuit, ClassicalRegister, QuantumRegister`

and the erro

[2018-12-22 10:58] rraymondhp commented on #464
Hi, I had the same problem and to solve it I have to uninstall qiskit first and then reinstall (instead of upgrading). It is not due to qiskit-tutorial. Would you mind trying it first?

I will post the issue to qiskit-terra too.

[2018-12-22 11:48] Tomev commented on #464
Hi Ray,

it seems to have done the trick. Thanks.

[2018-12-22 11:48] #464 closed

[2018-12-25 11:29] NicoSchwaller opened #472 "Import error in QISKit 0.7.0"
## Description

Hello.

I just updated QISKit to 0.7.0.
I get the import error

ImportError: cannot import name 'QuantumCircuit' from 'qiskit' (unknown location)

when using

`from qiskit import QuantumCircuit, ClassicalRegister, QuantumRegister`

I tried to uninstall and reinstall QISKit, and also to change my code into

`from qiskit.circuit import QuantumCircuit, ClassicalRegister, QuantumRegist

[2018-12-25 13:26] #472 closed, assigned to nobody

[2018-12-27 20:54] #326 closed

[2018-12-29 20:30] pifparfait commented on #464
Hi @rraymondhp and @Tomev
I have the same problem... which version do you have now?
I have python 3.7.1 and Qiskit: 0.7

ImportError: cannot import name 'IBMQ' from 'qiskit' (/Users/parfait/anaconda3/envs/Qiskitenv/lib/python3.7/site-packages/qiskit/__init__.py)

Many thanks

[2018-12-29 20:36] pifparfait commented on #472
Hi @Nico0008
did you solve your issue? I had the same and I'm looking the way to fix it.

ImportError: cannot import name 'IBMQ' from 'qiskit' (/Users/parfait/anaconda3/envs/Qiskitenv/lib/python3.7/site-packages/qiskit/__init__.py)
My using Python version 3.7.1 and QISKIT versiom : 0.7.0

Many thanks

[2018-12-29 20:42] Nico0008 commented on #472
Yeah after uninstalling Python, and also Qiskit. Now I have Python 3.7.2 and Qiskit 0.7.0, and the beginning of my code is the following:

import numpy as np
from qiskit import *
from qiskit import IBMQ
from qiskit import BasicAer
import Qconfig

Good luck!

[2018-12-29 20:49] pifparfait commented on #472
Thanks @Nico0008 !!!
I'm going to try it now.
One more question... do you use Jupyter or anaconda and set the environment.yml?
I just copy this code to test... but i find difficulties https://github.com/Qiskit/qiskit-tutorials/blob/master/index.ipynb

Thanks for your help!
Parfait

[2018-12-29 20:56] Nico0008 commented on #472
Hello,
No problem! No I do not use Jupyter nor anaconda... I just use visual studio to code in python and added Qiskit extension! Which code do you mean?

[2018-12-29 21:07] pifparfait commented on #472
Great!!!
I started with artificial_intelligence (qsvm_kernel_classification.ipynb) under aqua. I had the modules problems. So I decide to test the hello_zero.ipynb and still having the same problem. ImportError: cannot import name 'IBMQ' from 'qiskit' (/Users/parfait/anaconda3/envs/Qiskitenv/lib/python3.7/site-packages/qiskit/__init__.py)

NameError: name 'qiskit' is not defined and so on.

Thanks

[2018-12-29 21:12] Nico0008 commented on #472
I've been fighting with the same problem more than once in the past, and the only thing which always worked for me is uninstalling python and reinstalling it, even if it may not be the best way to solve it.
If I were you I would try uninstall and reinstall it, I think it will work then :)

[2018-12-29 21:14] pifparfait commented on #472
I will follow your advise... can you give me the step you follow?
thx

[2018-12-29 21:19] Nico0008 commented on #472
I guess you should search python or anaconda in your computer's programs, uninstall them, and you can also delete all the files in C:\Users\username\AppData\Local\Programs\Python or whatever this path is in the case of your anaconda distribution

[2018-12-29 23:01] pifparfait commented on #472
Hi @Nico0008 Fixed!!!

The real problem is having more than one installation and instance...
Many thanks for your help!
I very appreciated it!!

[2018-12-29 23:03] Nico0008 commented on #472
@pifparfait Oh cool I'm glad you fixed it! You're welcome! And thank you for the info ;)

[2018-12-29 23:05] pifparfait commented on #472
Talk to you soon!

El El dom, 30 dic 2018 a las 0:03, Nico0008 <notifications@github.com>
escribió:

--
*Parfait Atchadé*

*Tel Spain: 0034661205543*
*Tel Deustch: 00491706659017*

[2018-12-30 03:16] rraymondhp commented on #472
Hi,
You can find more details on the installation here:
https://github.com/t-imamichi/qiskit-utility/wiki/Unofficial-installation-guide-of-qiskit

[2018-12-30 07:33] rraymondhp commented on #407
Hi Łukasz.

Sorry for the late response. I am not sure what you wanna do with ????4. Can you elaborate?

[2018-12-30 09:13] pifparfait commented on #472
Thanks @rraymondhp I fully appreciate it!!

[2018-12-31 20:51] pifparfait opened #485 "Python quit unexpectedly maxcut_and_tsp.ipynb"
### Informations
qiskit/aqua/optimization/maxcut_and_tsp.ipynb

- **Qiskit version**: 0.7.0
- **Python version**: 3.7.2
- **Operating system**: Mac OS X 10.14.1 (18B75)

### What is the current behavior?
System Integrity Protection: enabled
Crashed Thread:        11
Exception Type:        EXC_CRASH (SIGABRT)
Exception Codes:       0x0000000000000000, 0x0000000000000000
Exception Note:        EXC_C

[2019-01-02 12:55] jaygambetta commented on #485
Hi, @pifparfait thanks for the issue. It is the same as the one I made in https://github.com/Qiskit/qiskit-aer/issues/1. Since this is an Aer issue I'm going to close it here but link it to your issue for tracking purposes.

[2019-01-02 12:55] #485 closed

[2019-01-03 04:08] chunfuchen commented on #372
@hellmersjl3ds do you still encounter any issue for the simulation?

[2019-01-08 12:21] quantumjim opened #489 "Where should notebooks for the 'Teach me quantum' award go?"
We have many notebooks submitted as entries to the 'Teach Me Quantum' award. These are made by lecturers, and provide some degree of self-contained material for self-study.

I suggest we follow the precedent set by the 'Teach Me Qiskit' award, the notebooks for which [have their own folder](https://github.com/Qiskit/qiskit-tutorials/tree/master/community/teach_me_qiskit_2018) in the community fold

[2019-01-08 20:03] KaiWangCanada opened #490 "test set was used in both validation and test in qsvm_kernel_classification"
It seems like the test set was used as both validation and test set in the tutorial of qsvm_kernel_classification.

As a result, the predict accuracy is higher than actual accuracy.

It's suggested to use non-overlap train, validate, test.

Thank you,

the notebook:
https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/aqua/artificial_intelligence/qsvm_kernel_classification.ipynb

test set

[2019-01-09 20:14] gplynch619 commented on #464
Hi,

I am having the same problem. I tried uninstalling and reinstalling qiskit, but it has not worked. I previously had it working but after some updates I am getting:

`ImportError: cannot import name 'QuantumCircuit' form 'qiskit' (unknown location)`

I am using Python 3.7.2 and qiskit 0.7.0.

[2019-01-10 08:50] quantumjim commented on #489
After talking to @attp, new plan is a community/awards folder to put these things in. I'll do a PR to make the folder soon.

[2019-01-10 09:38] infdahai opened #493 "import error in qiskit-ignis"
### Informations

- **Qiskit version**:
qiskit 0.6.1
- **Python version**:
Python 3.7.0
- **Operating system**:
Win 10 Pro
### What is the current behavior?

 hello,everyone. I want to run part of qiskit-ignis in my PC. Its path is qiskit-tutorials/qiskit/ignis/  .
When I  run three .py in this directory, I find that they  all exist import package error( from pycharm 2018.3.2).

in process_tomogra

[2019-01-10 09:57] rraymondhp commented on #493
Hi,
Have you looked at this issue?
https://github.com/Qiskit/qiskit-terra/issues/1599

[2019-01-11 00:32] #490 closed

[2019-01-11 21:58] hellmersjl3ds commented on #372
I haven't tried again in a couple of months, but I'm assuming the problem still persists.

[2019-01-12 17:04] #489 closed

[2019-01-13 02:07] infdahai commented on #493
thanks!   So the problem may be solved in qiskit 0.7.1

[2019-01-15 02:55] rraymondhp commented on #493
I believe so. Also, you can solve your issue now by following the instruction there. Have you tried?

[2019-01-16 13:03] yangjy0826 opened #499 "quantum circuit drawing probelm"
Hi,

I have just updated the qiskit to version 0.7. When I try drawing the quantum circuit using function `draw()` in `QuantumCircuit`, I find my result like this:
<img width="193" alt="qiskit_drawcircuit" src="https://user-images.githubusercontent.com/39376681/51250661-5d71b580-1997-11e9-9875-632bb397f5df.PNG">
which is very messy.

How can I solve this problem?

Thank you!

[2019-01-16 13:37] yangjy0826 commented on #499
Hi, thank you for your reply!
The output then shows ¨<Figure size 919.722x1028.42 with 1 Axes>¨, but I can't see the picture.

[2019-01-16 13:46] rraymondhp commented on #499
How about having this at the first line of the cell:
[code]

[2019-01-16 13:48] yangjy0826 commented on #499
Then it works. Thank you so much for the help.

[2019-01-16 13:48] #499 closed

[2019-01-18 14:17] #420 closed

[2019-01-19 14:39] pifparfait commented on #485
Hi, @jaygambetta I've got it! Thanks

[2019-01-22 10:49] quantumjim commented on #407
Hi @lukasszz. Sorry for the christmas-induced delay. I'm on it, and I'll get back to you soon.

[2019-01-24 08:33] lukasszz commented on #407
Thanks @quantumjim waiting for your support ;) with **(??? 4)**, and with the last section of the tutorial.

[2019-01-27 14:36] profversaggi commented on #88
Were you ever able to resolve this - I'm getting the same error "ImportError: DLL load failed: The specified module could not be found."

[2019-01-27 14:49] profversaggi opened #505 "circ.draw() :- ImportError: DLL load failed: The specified module could not be found."
### Informations

- **Qiskit version**: 0.7.2
- **Python version**: 3.X
- **Operating system**: Win10

### What is the current behavior?
Executing some get started code from the site install section, I create a circuit and execute **circ.draw()** - the following error occurs:

ImportError                               Traceback (most recent call last)
<ipython-input-5-380c026d89fe> in <module>()
-

[2019-01-27 15:21] profversaggi commented on #505
**SOLUTION FOUND:**

This was a **PILLOW** problem not a **QisKit** Problem - which was **_the wrong version of PILLOW was installed_** using CONDA instead of PIP.

**_Instead, make sure you only have one version of Pillow installed, eg. **uninstall** the conda version and **Re-install** from pip_**

[2019-01-27 15:21] #505 closed

[2019-01-28 02:24] erinaldi opened #506 "Installation of Qiskit following instructions reports "Failed to build qiskit""
Hello,
I followed the instructions on how to install the tutorials for qiskit v0.7.2.
Before creating a virtual env with `conda` I updated the `environment.yaml` file to look like this:
[code]

After that I created the env and everything looked successful but this line
[code]

To put it in context, the final lines of the `conda env create -f environment.yml` output are
[code]

So, even though it l

[2019-01-28 18:52] dharma111 opened #507 "pip install qiskit says invalid syantax"
### Informations

 **Qiskit version**:- 0.7.2
**Python version**:3.7
- **Operating system**:windows 10

### What is the current behavior?
when I type pip install qiskit
it says " invalid syntax "
![error](https://user-images.githubusercontent.com/22235030/51858838-acd2c100-235b-11e9-9613-ca8122423092.PNG)

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested soluti

[2019-01-28 18:54] nonhermitian commented on #507
This is what happens when you try to run `pip install qiskit` inside of the Python terminal.  You need to be on the Windows command line to run `pip`

[2019-02-03 14:34] jaygambetta commented on #507
closing as @nonhermitian is correct. If you still have questions please reopen.

[2019-02-03 14:34] #507 closed

[2019-02-07 09:15] HuangJunye commented on #506
I had the same problem. It was so confusing. I spent like one hour trying to figure out how to solve the problem only to find that everything worked fine later.

[2019-02-07 09:38] HuangJunye commented on #506
I had an additional problem. A python package called sympy could not be updated by pip.

[code]
The problem was solved by updating it using conda:
`conda update sympy`

[2019-02-07 15:18] t-imamichi commented on #506
See https://github.com/Qiskit/qiskit-terra/issues/1641

[2019-02-07 15:28] erinaldi commented on #506
Still that does not answer my question.
The `Failed to build qiskit` message seems to be there for multiple users even when using clean environments correctly. And the message does not directly relate to a failed installation, as I can use `qiskit` just fine now.

It is not a problem, for me, right now. But I would say it has to be solved for users trying to install and use `qiskit`.

[2019-02-07 16:08] OChiB opened #515 "Problem regarding variation quantum eigensolver"
### Informations

- **Qiskit version**: 0.6
- **Python version**: 3.7
- **Operating system**: Microsoft

I want to program my own variation quantum eigensolver for my own practice.
The Hamiltonian considering is a two level system, so Pauli-z gate.
The ansatz state is rotated by the ry gate.
The problem is, the program works fine, if I use the defined function once, which returns the measurement r

[2019-02-07 18:26] quantumjim opened #516 "Index and feature"
We should have an index for the tutorials, so that people can look up all notebooks that implement Shor's algorithm, or all that use the command `initialize`, etc.

I suggest adding a new markdown cell to all notebooks in which keywords are given. For 'quantum_emoticon' for example, we could have something like.

**Keywords**
*Topics:* Bit-string, superposition
*Commands:* QuantumRegister, Classic

[2019-02-08 03:19] chunfuchen commented on #515
@OChiB do you mind reformat your script? you can use "\`\`\`python \`\`\`" to wrapper your script.

I guess that there is something wrong in the calculation of your expection, it should be `c1 - c0`.

On the other hand, Aqua provides APIs to build VQE. Here is the equvelent script as yours.
[code]

[2019-02-08 09:26] quantumjim commented on #516
That's a good idea. We can set up the experiment there.

In what way do you think it might be cumbersome? Probably we should try to limit the number of notebooks indexed for each keyword. In that way, it should be as like a typical back-of-textbook index.

After some experimenting with the script, I think it might be best to hide the keywords in the source of the notebook. Then it will be easier t

[2019-02-08 09:47] OChiB commented on #515
@chunfuchen Thank you for your reply!
Regarding to the expectation calculation. It shouldn't be wrong, since this expectation value return -1 for the angle pi.
And I think this is not the main issue, since the essential problem lies on the iterative algorithm, not in the calculation of the expectation value itself (since otherwise the expectation value should give 1 or -1, but not 0).

I tried to

[2019-02-08 13:23] chunfuchen commented on #515
@OChiB what is your version of qiskit? it seems that you did not use qiskit 0.7 since I can not directly run your code with the stable version of qiskit.

here is my env
[code]

[2019-02-08 16:50] IanSwire opened #518 "module 'qiskit' has no attribute 'register'"
### Information

- **Qiskit version**: 0.7.2
- **Python version**: 3.7.1
- **Operating system**: Ubuntu 18.04

### What is the current behavior?
After importing qiskit and Qconfig, I created qx_config which holds my APItoken(taken from Qconfig.py) and the URL. Then I try to do "qiskit.register(APItoken, URL)". I then get an AttributeError saying module 'qiskit' has no attribute 'register'. The pro

[2019-02-08 20:28] IanSwire commented on #518
https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/basics/the_ibmq_provider.ipynb

After leaving and coming back, I have found that the commands are different now. After apply what is used in the tutorial above, the problem no longer exists.

[2019-02-08 20:28] #518 closed

[2019-02-08 21:56] chunfuchen commented on #515
@OChiB I found a bug in your code, you should move the declaration of `QuantumCircuit` into your `def expec(theta) function` otherwise, the `qc` is a reference, which means you keep appending the ry gate.

After I move the declaration of `QuantumCircuit` into your `def expec(theta) function`, it converges to -1

[2019-02-09 04:22] chunfuchen commented on #372
@hellmersjl3ds with qiskit-aqua and qiskit-chemistry from the master branch, on average, each evaluation only require 0.5 seconds on a 4 core macbook.

Nonetheless, it is reasonable to take a long time if you would like to build a whole dissociation curve.

[2019-02-09 06:25] OChiB commented on #515
@chunfuchen Oh thank you very much !! I could fix it!!

[2019-02-09 06:26] #515 closed

[2019-02-10 04:18] shashanka300 opened #519 "Import error(Qconfig)"
No module named 'Qconfig_IBMQ_experience'
No module named 'Qconfig_IBMQ_network'

- **Qiskit version**: 0.7.2
- **Python version**:3.6.4
- **Operating system**: windows 10
### Steps to reproduce the problem

import Qconfig_IBMQ_experience
import Qconfig_IBMQ_network

### Suggested solutions

[2019-02-12 04:34] jaygambetta commented on #519
These are files you need to make yourself as they contain your user information. @attp can you think about how we can make this clearer in the documentation in this notebook.

[2019-02-12 15:49] t-imamichi commented on #506
[The release note of 0.7.2](https://github.com/Qiskit/qiskit/releases/tag/0.7.2) says that

[2019-02-12 16:07] #506 closed

[2019-02-19 10:57] jaygambetta opened #523 "move creating_third_party_provider.ipynb from basic to terra folder"
### What is the expected behavior?
This we put in the wrong place.

Also, we need to update the index file to link to it.

[2019-02-19 11:03] #293 closed

[2019-02-19 11:07] jaygambetta commented on #493
@infdahai I'm going to close this as i think @rraymondhp comments should have fixed this. If not please reopen the issue.

[2019-02-19 11:07] #493 closed

[2019-02-19 11:16] rraymondhp commented on #519
Hi,

I think you write a wrong `import` or the files `Qconfig_IBMQ_*` are not at the same directory as the file you have.

For the latter case, please place the files `Qconfig_IBMQ_experience` at the same directory as your notebook/program file.

And, with IBMQ module, you do not need to import `Qconfig` files anymore. For the new way of using account, please refer to the tutorial below:

https://

[2019-02-19 14:15] #523 closed

[2019-02-19 14:31] rraymondhp commented on #519
Here is the more detailed tutorial that shows how to use the IBMQ credentials:

https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/basics/the_ibmq_provider.ipynb

I am closing this issue, but feel free to reopen it if you still encounter similar problems.

[2019-02-19 14:31] #519 closed

[2019-02-19 15:54] jrontynen opened #526 "Failed installation"
I try to follow the installation instructions for the qiskit tutorials on Ubuntu 18.04, but I get the error below when building the environment. I think this is the reason I cannot import qiskit in a jupyter-notebook but get the following error instead:

Here is what I get when trying to build the environment:

[2019-02-19 18:48] rraymondhp commented on #526
Hi,
This is caused by the latest `pip` which is not compatible with the latest `qiskit`.  There are two options:
(1) Install qiskit version 0.7.1 by issuing `pip install qiskit==0.7.1`

(2) downgrade the pip and install the latest qiskit. This is discussed here:
https://github.com/Qiskit/qiskit/issues/78

Hope this solves your problem.

[2019-02-20 22:51] rraymondhp commented on #526
Hi,
qiskit version 0.7.3 has just been released and it should not have the installation problem. Please reopen if you still have the problem.

[2019-02-20 22:51] #526 closed

[2019-02-21 01:28] rraymondhp commented on #407
Hi Lukasszz,

I am not sure about the `decode_bistring` function. I think you should check, test, and verify if the procedure works as expected for all inputs.

Also, you need to clean typos ("colud" instead of "could", etc. ) and some math definitions, such as,
$$
\alpha_1^2 + ... + \alpha_n^2 = 1
$$
is not true for complex numbers.

[2019-02-21 13:49] ChenChengKuan opened #528 "An output of entanglement introduction.ipynb in qiskit terra tutorial might be wrong"
### Informations
I use binder image in the Qiskit readme
- **Qiskit version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
The histogram of cell 13* in entanglement_introduction.ipynb shows only one state (00), however, it should show 2 random state as described in the context.

*The output is the measurement of the figure below
<img width="400" alt="2019-02-21

[2019-02-21 15:08] fvarchon commented on #528
Hello,
I use (qiskit 0.7.2| python 3.6.3 |Anaconda custom (64-bit)| Windows 7). The problem seems to be related to BasicAer.

I am able to reproduce the same bug when I use:
backend = BasicAer.get_backend('qasm_simulator')

The problem disappears if I use:
backend = Aer.get_backend('qasm_simulator')

[2019-02-22 14:06] ChenChengKuan commented on #528
Hello
it works like magic! , Thanks for your answer

[2019-02-22 14:06] #528 closed

[2019-02-22 17:52] jason-jk-kang opened #531 "Install for qiskit chemistry not working"
### Informations

- **Qiskit version**: Version: 0.7.3
Python 3.6.8 :: Anaconda, Inc.
Linux

### What is the current behavior?

Hi I have installed qiskit-chemistry and when I run pip show "qiskit-chemistry" I do have

Name: qiskit-chemistry
Version: 0.4.2
Summary: Qiskit Chemistry: Experiment with chemistry applications on a quantum machine
Home-page: https://github.com/Qiskit/qiskit-chemistry

Y

[2019-02-22 19:42] #531 closed

[2019-02-26 14:33] yangjy0826 opened #534 "Different result for running HHL locally and on a quantum chip"
### Informations

- **Qiskit version**: 0.7.0
- **Python version**: 3.7
- **Operating system**: windows10

### What is the current behavior?
When I simulate the HHL algorithm provided by the teach_me_qiskit ([link](https://github.com/Qiskit/qiskit-tutorials/blob/master/community/awards/teach_me_qiskit_2018/quantum_machine_learning/2_HHL/Quantum%20Algorithm%20for%20Linear%20System%20of%20Equations.

[2019-02-27 20:55] p-neumann opened #536 "shor_algorithm runtime errors on quantum processors"
### Informations

- **Qiskit version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-02-27 21:00] p-neumann commented on #536
shor_algorithm reported error running on either ibmqx4 or ibmq_16_melbourne. It runs fine with simulators (local and remote). Here are the errors:

---------------------------------------------------------------------------
MapperError                               Traceback (most recent call last)
<ipython-input-14-965010f2f54b> in <module>
      4 #backend = IBMQ.get_backend('ibmq_qasm_simulator

[2019-02-27 21:40] rraymondhp commented on #536
What `shor_algorithm` did you run? The one in the tutorial?

[2019-02-27 21:45] p-neumann commented on #536
Yes. under community->algorithms

[2019-02-27 22:20] rraymondhp commented on #536
It is related to a bug in combining multiple 1-qubit gates into one 1-qubit gate, as here:
https://github.com/Qiskit/qiskit-terra/issues/1478
I am closing it as it is a known bug that will be fixed.

[2019-02-27 22:20] #536 closed

[2019-02-27 22:49] p-neumann commented on #536
New errors after modifying the transpiler.py file:
gaierror                                  Traceback (most recent call last)
~/.conda/envs/qiskit_env/lib/python3.7/site-packages/urllib3/connection.py in _new_conn(self)
    158             conn = connection.create_connection(
--> 159                 (self._dns_host, self.port), self.timeout, **extra_kw)
    160

~/.conda/envs/qiskit_env/lib/pytho

[2019-02-27 23:34] rraymondhp commented on #536
This is because the timeout is too small and when you are running it on real-device, longer timeout should be expected. Please try to run your with longer timeout, say,
`execute(..., coupling_map=coupling_map, shots=shots,timeout=240000)`

[2019-02-28 00:17] rraymondhp commented on #536
@p-neumann  Sorry, not on execute, but `timeout` should be set like these:
[code]

[2019-02-28 13:29] bkalapar commented on #536
the errors can be turn as functionalities of the Quantum process by adding the delay and time process, to fix the errors we can make the name spaces into  lists  or tuples of a defined dictionary,
as I have a little bit of knowledge, what is there i shared with you, if any thing wrong please forgive me

[2019-03-01 07:06] jaygambetta commented on #339
closing with #532

[2019-03-01 07:06] #339 closed

[2019-03-05 23:26] obliviateandsurrender commented on #372
I've run NaH for two distances, `pts = [1, 3.8]`. Time taken by the job was **13:14:46** when run on an HPC with `backend = BasicAer.get_backend('statevector_simulator')`.  The number of steps was 522 and 10,000 for the individual VQE eval. I think plotting a complete curve would actually take more than 2 days. So, how's this advantageous?

[2019-03-08 07:57] rraymondhp commented on #534
Hi,

Quantum Chips that exist now are noisy and discrepancies between simulators and real devices are expected. Have you tried to run your circuits on other real device backends? And on other set of qubits within the same backend to see how the results change (being better or worse)?

[2019-03-08 09:17] yangjy0826 commented on #534
Hi, thank you for your reply. I find out that the result on quantum chip QX2 (5-quibit) has the best result, which is around 0.5. But for QX4 (5-qubit) and the 16-qubit quantum chip, the result is even worse, which sometimes can be more than 1. If I take the connections between qubits into consideration and try QX2 again (this process makes the quantum circuit deeper), I will get a worse result. D

[2019-03-08 10:00] rraymondhp commented on #534
Yes, the deeper the circuit the more error we get as gates are very noisy and decoherence time is limited. qiskit-ignis is the package that is used for easing the error mitigation.

I am relieved that your circuit runs well and it is not really a bug. Instead, it is a limitation of NISQ devices. I am closing this issue, but feel free to reopen if necessary.

[2019-03-08 10:00] #534 closed

[2019-03-08 10:57] yangjy0826 commented on #534
OK! Thank you for your suggestion.

[2019-03-08 18:49] mstypulk opened #552 "cannot import name 'get_input_instance' from 'qiskit_aqua.input'"
### Informations

- **Qiskit version**: 0.7.2
- **Python version**: 3.7.2
- **Operating system**: MacOS 10.14

### What is the current behavior?
Error when running this line:
```from qiskit_aqua.input import get_input_instance```
in the Qiskit-aqua tutorial notebook 'vqe.ipynb'

This notebook can be found at GitHub repo: qiskit/qiskit-tutorials/community/aqua/general/vqe.ipynb

### Steps to reprod

[2019-03-09 08:48] omishina opened #554 "error in week 0, slide 9,"
Hi all,
Great resource!
I am a quantum physicist and a physics education researcher and educator.
I am read through week 0 of “Teach me quantum” and I spotted a typo on slide 9: in place of “macro” it is most likely intended to be “micro”.
Best!
Oxana

[2019-03-09 10:24] qubeat commented on #554
Hello, I just look at [the slides](https://github.com/Qiskit/qiskit-tutorials/blob/master/community/awards/teach_me_quantum_2018/TeachMeQ/Week_0-Hello_Quantum_World/slides.pdf)? It seems to me, that even after change "macro" to "micro" it still may sound not very clear.

[2019-03-09 11:40] imvieira opened #555 "Acqua finance"
I started learning yesterday about Qiskit and I’m also IBMer, I’m so proud. In other hands, it’s a beginner question for who wants to get start in finance domain Q.

I want to do some proof of concept in finance domain. No matter what, just want to see a problem being solved in finance domain. So I went throfuh Acqua Finance but couldn’t understand where I am and where can I go.

[2019-03-09 15:10] omishina commented on #554
Hello,
Thanks for sharing.
I mentioned “Macro” on slide 9 as it is really a typo to change.
In fact, I also think that there is an alternative, more transparent way for making quantum vs classical distinction.
As for using micro vs macro to distinguish quantum vs classical, this is quite common. It is true that the quantum effects, i.e. observations  that can not be described using classical theor

[2019-03-09 16:03] yehuda-naveh commented on #554
Indeed, superconductivity e.g. a prime example of pure quantum at any macro scale. I made the small fix at #557 . Thanks for noticing the typo

[2019-03-09 16:16] yehuda-naveh commented on #555
My guess is that before jumping into Aqua / finance, why not start with the basics section first, e.g., the material in section 2 of https://github.com/Qiskit/qiskit-tutorials, and then the 'basics' part of section 1 in the same place.

Anyway, also making sure you're aware of the finance-specific tutorials and examples in: https://github.com/Qiskit/qiskit-tutorials/tree/master/qiskit/aqua/finance

[2019-03-10 13:45] omishina commented on #554
Hi,
I looked at the slides again but I see no changes.

[2019-03-10 14:37] yehuda-naveh commented on #554
It will be visible after the latex is compiled

[2019-03-10 14:39] jaygambetta commented on #554
oh can we compile and add the pdf since the pdf is in the GitHub as well. Not really sure we want the pdf in the GitHub but maybe as latex is not used by many people.

[2019-03-10 16:35] yehuda-naveh commented on #554
@quantumjim I have a hard time trying to compile (source is complex latex with too many dependencies), and also I'm afraid to change the style somehow. Can you compile and replace the pdf? Even better, can we have some semi-automatic way of doing it?

[2019-03-10 18:20] qubeat commented on #554
BTW, if all the directories .ipynb_checkpoints necessary?

[2019-03-10 18:22] jaygambetta commented on #554
no they should be removed.

[2019-03-11 04:56] rraymondhp commented on #555
Just a reminder that the name is now `aqua` without `c`. :-)

[2019-03-12 02:18] lerongil opened #562 "Incorporating 1903.04359 by Daniel Koch, Laura Wessing, Paul M. Alsing"
### What is the expected behavior?
[This is a great paper](https://arxiv.org/pdf/1903.04359.pdf) outlining the following lessons:

Lesson 1 - Intro to QuantumCircuits
Lesson 2 - Creating More Complex QuantumCircuits
Lesson 3 - Gates Provided by Qiskit
Lesson 4 - Our Custom Functions
Lesson 5.1 - Intro to Quantum Algorithms (Deutsch)
Lesson 5.2 - Deutsch-Jozsa & Bernstein-Vazirani Algorithms
Lesson

[2019-03-12 03:12] rraymondhp commented on #562
Hi,

AFAIK, all of the algorithms and explanations are already in the community and other directories.

[2019-03-12 03:17] attp commented on #562
I think it's a great set of tutorials, but given the overlap with our tutorial content, perhaps we could see if the authors are interested in creating their own repository with the content (with our help if they want), and then we could link to it.

[2019-03-12 11:27] #554 closed

[2019-03-14 06:09] lerongil commented on #562
I like the idea of creating an index for it. Will reach out to the authors to see if this is something they would consider doing. Thanks for the input @rraymondhp and @attp .

[2019-03-19 15:51] Travis-S opened #567 "Ignis relaxation and decoherence tutorial no longer includes any quantum information"
As part of 18387c083a3b816463f435f67b1943de2c1ec995, the old Ignis tutorials were removed and new ones put in. The new ones do not include any quantum information describing the noise, nor the experiments necessary to characterize it.

@dcmckayibm @jaygambetta Was this an intentional change, or should that content be added back to the new tutorials? If the latter, how much would you like to see po

[2019-03-19 16:12] dcmckayibm commented on #567
The background information was moved to community/ignis (https://github.com/Qiskit/qiskit-tutorials/tree/master/community/ignis). The idea is that the notebooks in qiskit/ignis will be more example use-cases for the code whereas the community files will be background and tutorials on the physics.

Let me know if something is missing from there and please add as you want.

[2019-03-20 15:17] quantumjim commented on #382
Unclear what the issue is, and it seems to be a Terra issue anyway, so closing.

[2019-03-20 15:17] #382 closed

[2019-03-20 16:17] Travis-S commented on #567
@dcmckayibm Gotcha!

[2019-03-20 16:17] #567 closed

[2019-03-20 23:05] XBLDev opened #571 "Can the feature dimension be higher than 3?"
### What is the expected behavior?

Hi

Is it possible to have a feature number higher than 3 for the svminput? In the qsvm_kernel_classification notebook it says "we support feature_dim 2 or 3", i passed n higher than 3 in my own code with some random dataset and it seems to be fine. Is this constraint only because of data visualisation or svminput just can't have more than 3 data dimension?

[2019-03-24 15:19] MingyuSun commented on #262
I still got such error, not always, (but if I use 8 qubit, I always got that)
Got a 400 code response to https://quantumexperience.ng.bluemix.net/api/Jobs?access_token=XiRVksfIVPPb6UnZA2mGBwWiWFgR0EvapwqQc7MeZ6PkDUBSa9bAVtH9uwo1aMZE: {"error":{"status":400,"message":"Generic error","code":"GENERIC_ERROR"}}
Got a 400 code response to https://quantumexperience.ng.bluemix.net/api/Jobs?access_token=Xi

[2019-03-25 17:44] woodsp-ibm commented on #552
Thanks. That method was removed and it seems the notebook was not updated. Using EnergyInput directly is fine. The notebook has been updated already in a [WIP] PR in prep for Aqua version 0.5

[2019-03-27 10:39] jonguenther commented on #552
This issue can also be found in the [notebook to TSP](https://github.com/Qiskit/qiskit-tutorials/blob/master/community/awards/teach_me_quantum_2018/TeachMeQ/Week_8-High_Level_Quantum_Programming/exercises/w8_04.ipynb) which uses the same methods.

[2019-03-29 23:47] daveshen2019 opened #579 "can't pip install qiskit with python3.7"
Try to:
pip install qiskit
Collecting qiskit
Could not find a version that satisfies the requirement qiskit-aer==0.1.1 (from qiskit) (from versions: 0.1.0)
No matching distribution found for qiskit-aer==0.1.1 (from qiskit)

- **Qiskit version**: latest version
- **Python version**: 3.7
- **Operating system**: windows 10

I see an early thread on this subject, the cause is that to install qiskit, p

[2019-03-31 12:56] moldos opened #580 "Question about porfolio-py ising translator"
It's about portfolio tutorial
I have question with regards on how the operator is build - function get_porfolio_qubuitops inside portfolio.py ising translator, namely the following line (operator construction):
pauli_list.append([2*sigma_z[i_, j_], Pauli(zp, xp)])
Question is: why factor/number 2 there. It beats me. If you are so kind to explain, I would be grateful.
Thank you.

[2019-03-31 16:42] stefan-woerner commented on #580
The for-loops for i, j originally both run over range(n).
However, the case i == j is can be handled separately, since it gives a constant term (z in {-1, +1} => z^2==1).
Instead of catching i == j, and since z_i * z_j == z_j * z_i, we just run the for-loops for i < j and multiply every term by 2.

[2019-03-31 16:53] moldos commented on #580
Understood. Clear picture. Many thanks

[2019-03-31 16:53] #580 closed

[2019-03-31 19:10] mtreinish commented on #579
I'm able to reproduce this not on windows (as I don't have it) but I am able to on an arm system where there is no published wheel file for the qiskit-aer package. It looks like when 0.1.1 was released the sdist was not uploaded with the wheel files: https://pypi.org/project/qiskit-aer/#files. So when pip tries to install qiskit-aer (as one of the requirements listed in the metapackage) on your en

[2019-03-31 19:10] #579 closed

[2019-03-31 21:25] imvieira opened #581 "This is my first time and I do not know how to get start"
I installed qiskit in my Mac and went through the Tutorials and clicked on Basic, and clicked on the script listed in the GitHub.
I do not know where should I need insert the commands from the tutorial. But I do not know where is the documentation to log on the qiskit or something like that

[2019-03-31 21:36] aasfaw commented on #581
Hi @imvieira

I'm gathering that you navigated to this particular tutorial below, and you're looking for a way to execute the commands that you see there to practice for yourself.
[Qiskit Github/qiskit-tutorials/qiskit/basics/](https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/basics/)

The tutorials are available in Jupyter notebooks so that you can see the code as well as outputs fro

[2019-04-01 13:43] quantumjim commented on #516
This issue is addressed in PR #570

[2019-04-03 06:28] rraymondhp commented on #581
Hi @imvieira
I think you need to learn more about juypter notebook to master writing program and run it thru your browser:
https://jupyter.org/

I am closing this issue as I think @aasfaw  has already pointed you the right way to solve your issue. Please feel free to open a new one if you encounter another issue.

[2019-04-03 06:28] #581 closed

[2019-04-03 23:29] imvieira commented on #581
[code]
I am still having the error above

[2019-04-03 23:45] imvieira opened #582 "AttributeError"
Eight months ago was published the Getting Start Video for Qiskit on YouTube. Click here to watch: https://www.youtube.com/watch?v=V3hXSftZuoc

So I did pip install jupyter , qiskit and msgpack. Then, I ran the Jupyter Notebook and simulated the video tutorial. But I do not know how to solve the following error

 ![Screen Shot 2019-04-03 at 20 41 47](https://user-images.githubusercontent.com/13357

[2019-04-03 23:56] aasfaw commented on #581
This error is because you have
`qc = qk.QuantumCircuit(qr.cr)`
instead of
`qc = qk.QuantumCircuit(qr, cr)`

Note the change from `.` to `,` (period to comma).

[2019-04-04 00:07] aasfaw commented on #581
For your second error, replace the last line with these two:

[code]

and please let us know if you have any more issues.

[2019-04-04 00:15] aasfaw commented on #582
Replace the last line with these two:

[code]

and please let us know if you have any more issues.

[2019-04-04 00:39] imvieira opened #583 "Why the maximum of shots is 8192?"
To run the circuit on the backend, we need to specify the number of shots and the number of credits we are willing to spend to run the circuit. Then, we execute the circuit on the backend using the execute function.
[code]

[2019-04-04 03:10] rraymondhp commented on #582
Hi,
I suspect you are using older version of qiskit. Please upgrade your qiskit and use backend not by string, but by passing an object of backend as follows:
[code]

You can see more details here:
https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/terra/quantum_circuits.ipynb

[2019-04-04 03:12] rraymondhp commented on #583
Hi,
Thanks for asking.
The limitation is due to restriction of terra and hardware and not related to the tutorial.
I wonder if you can post the question to terra or qiskit in general.
But, the short answer is even if the limitation is 8192, you can have more shoots by running circuits several times.

[2019-04-04 03:12] #583 closed

[2019-04-04 05:58] #407 closed

[2019-04-05 11:51] ajavadia commented on #583
Just so that any one job does not unfairly take up a lot of device time.

[2019-04-06 04:01] rraymondhp commented on #582
Hi,
I am closing this issue because @aasfaw reply should solve the issue. Please reopen if you still encounter this.

[2019-04-06 04:01] #582 closed

[2019-04-06 04:01] #555 closed

[2019-04-07 12:51] imvieira opened #585 "Got a 400 code response to /api/Jobs: {"error":{"status":400,"message":"Generic error","code":"GENERIC_ERROR"}} In [23]:"
`Got a 400 code response to /api/Jobs: {"error":{"status":400,"message":"Generic error","code":"GENERIC_ERROR"}}`

![Screen Shot 2019-04-07 at 09 53 15](https://user-images.githubusercontent.com/13357603/55683873-025ab980-591b-11e9-9749-aaeb4a78912e.png)

[2019-04-07 12:52] imvieira commented on #262
@MingyuSun I posted a similar issue with HTTP 400 in this story https://github.com/Qiskit/qiskit-tutorials/issues/585

[2019-04-07 18:46] nonhermitian commented on #585
The generic error 400 is a connection error. This indicates that the connection to the servers has been dropped, or cannot be established. This happens sometimes, and work to make it never happen is on going.

[2019-04-07 19:28] #585 closed

[2019-04-11 01:21] #516 closed

[2019-04-29 14:21] nonhermitian opened #593 "Tutorials need copyright statement"
### What is the expected behavior?
Tutorials should include the following copyright statement (preferably at the bottom to avoid clutter):

[code]
where `XXXX` is the year of the tutorial in question.

[2019-04-29 15:11] gaoning041x opened #594 "Unable to run a circuit on real quantum processor"
### Informations

- **Qiskit version**: 0.6.1
- **Python version**: 3.5.2
- **Operating system**: Ubuntu(64-bit)

### What is the current behavior?
I have constructed a 5 qubit, 3 classical bit circuit. This circuit works fine if the backend is the simulator. But when I try to run it on the real quantum processor, it failed and print the following error message:

Traceback (most recent call last):

[2019-04-30 15:59] maddy-tod commented on #594
Hi @gaoning041x could you give some more information, which backend were you using? I don't think the physical devices currently support operations after measurements, so you may need to re-write your code or use one of the simulators instead.

[2019-04-30 18:09] gaoning041x commented on #594
Hi @maddy-tod thank you for your reply. I was trying to run this circuit on the 16 qubit machine. I want to run this circuit on a 4 qubit machine, but I need an extra qubit to generate a qubit mixed state, like I/2. So do you mean that I cannot manipulate the state after I measure it? Can I just do something like measure the system on one basis, then measure it on another basis?

[2019-04-30 21:13] JavaFXpert opened #601 "Minor spelling and grammar issues in a couple of tutorial notebooks"
### Information

- **Qiskit Terra version**: release candidate
- **Python version**: 3.x
- **Operating system**: MacOSX

### What is the current behavior?
Spelling and grammar

### Steps to reproduce the problem
Read plotting_data_in_qiskit.ipynb and getting_started_with_qiskit,ipynb tutorials

### What is the expected behavior?
Corrected spelling and grammar

### Suggested solutions
Change "Ploti

[2019-05-01 09:18] maddy-tod commented on #594
Yes that is what I mean. I don't think that measuring like that is currently possible on the real backends. However I managed to get your code running using the Aer simulator, `Aer.get_backend('qasm_simulator')`, so it might be better to use this for now.

[2019-05-01 11:30] gaoning041x commented on #594
@maddy-tod, thanks for clarifying. The circuit does work fine on simulators.
Besides these problems, I would also like to ask one additional question if you don't mind: how can I generate a mixed state like I/2, how can I do this without introducing an extra qubit? I searched through the documentation and I cannot find it... Thanks for your help.

[2019-05-01 11:47] rraymondhp commented on #594
Hi,
IMHO, mixed states are not supported yet, but there are at least two workarounds:
(1) By purification, you can work on corresponding pure states by doubling the number of qubits
(2) Or, you can combine randomized coin flipping with the current pure states simulator/real-devices

[2019-05-01 11:53] gaoning041x commented on #594
Hi @rraymondhp, thanks for the suggestions, but either one would require an extra qubit right? The circuit  I'm using now essentially adopts the second suggestion: I use an extra qubit (to do coin tossing) and classical control to  generate a mixed state. Anyway thanks for help.

[2019-05-01 11:58] nonhermitian commented on #594
A mixed state is represented by a density matrix. On a real device you always have a state vector. A density matrix is what you get after performing infinitely many realizations of an experiment and averaging.

[2019-05-01 13:54] qubeat commented on #594
In principle, conception of reduced density matrix (https://en.wikipedia.org/wiki/Quantum_entanglement#Reduced_density_matrices) may be applied even for single experiment due to entanglement with environment.

[2019-05-01 14:31] rraymondhp commented on #594
Hi @gaoning041x
The second one will not require extra qubits. And as @nonhermitian  pointed out, density matrix is an average of many experiments on pure states.

So the conclusion is that, this issue is not a bug and can be closed, right?

[2019-05-01 14:35] gaoning041x commented on #594
@rraymondhp Right, I don't need extra qubits in principle if I follow the second suggestion.
The original problem I was asking is actually not about mixed states, but it's been answered by @maddy-tod and yes, I think my questions are all clear now and I'm happy with you closing this issue. Thanks.

[2019-05-01 14:43] maddy-tod commented on #594
@gaoning041x great to hear! If you need any help in future the Qiskit Slack workspace is a great place to start.

[2019-05-01 15:12] #594 closed

[2019-05-02 04:03] imvieira opened #602 "Using Shor's algorithm to solve discrete logarithm problem"
### What is the expected behavior?

I have read about Shor's algorithm and my understanding is that it can be used to factor large numbers efficiently. Can Shor's algorithm, though, be used to solve this problem:

Find the number 𝑒 e  given the following information (Assume that 𝑃 P , 𝐶 C , 𝑁 N  and 𝑒 e  are all large, say 2048-bit integers):  the integers 𝑃 P  and 𝑁 N the integer 𝐶 C  where 𝐶=𝑃𝑒m

[2019-05-02 14:00] nonhermitian opened #605 "readme is missing a link to the aer qiskit notebooks"
### Informations

- **Qiskit version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Main readme is missing a link to the aer qiskit notebooks in contents part 1

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-05-02 19:54] gaoning041x opened #608 ".get_count() returns weird output when I run circuit on the real backend"
### Informations

- **Qiskit version**: 0.6.1
- **Python version**: 3.5.2
- **Operating system**: Ubuntu(64-bit)

### What is the current behavior?

I'm working on a circuit that has now 7 qubits and 3 classical bits, it works fine on the simulator, i.e I got counts of the classical bits (like 000, 001, ...). But when I try the circuit on the real backend (16 bits machine), the .get_count() method

[2019-05-03 00:44] nonhermitian commented on #608
Your version of qiskit is too old.  You need qiskit 0.8 or higher installed: `pip install qiskit`

[2019-05-03 10:44] gaoning041x commented on #608
Hi, @nonhermitian thank you for your answer. I'm trying to update the qiskit, but when I'm using the new version, I find that somehow, I receive errors such as:
Traceback (most recent call last):
  File "quantum2.py", line 6, in <module>
    from qiskit import available_backends, execute, register, get_backend
ImportError: cannot import name 'available_backends'

Can you please also help me with t

[2019-05-03 12:02] nonhermitian commented on #608
Your code us also for the older software version. You need to update. It is probably best to go through the tutorials in this repo to see what needs to be changed.

[2019-05-03 12:04] gaoning041x commented on #608
Got it, will work on it. Thanks a lot.

[2019-05-03 14:09] sampathkumarch opened #611 "how to resolve the error:ERROR: Could not find a version that satisfies the requirement pylog (from versions: none) ERROR: No matching distribution found for pylog"
### Informations

- **Qiskit version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2019-05-04 00:06] #605 closed

[2019-05-04 00:58] #608 closed

[2019-05-04 01:01] jaygambetta commented on #601
@aasfaw could you fix this issue

[2019-05-05 19:17] jaygambetta opened #617 "what is goal for community/exercise"
### Informations

- **Qiskit version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

@aasfaw what is the goal for the community/exercise folder

### Suggested solutions

remove or make this folder clearer

[2019-05-05 19:45] jaygambetta commented on #593
how do you suggest doing this.

[2019-05-05 19:46] nonhermitian commented on #593
The same header we have in the source as markdown text at the bottom of each example.

[2019-05-06 01:47] #601 closed

[2019-05-06 02:23] aasfaw commented on #602
@imvieira both discrete log and factoring can solved by taking advantage of the hidden periodicity in the structure of the problems. Shor's algorithm works for both. You can find a description of Shor's algorithm, particularly as it relates to solving the factoring problem, in [the tutorial here](https://github.com/Qiskit/qiskit-tutorials/blob/master/community/algorithms/shor_algorithm.ipynb).

By

[2019-05-06 02:23] #602 closed

[2019-05-06 03:01] aasfaw commented on #611
@sampathkumarch Can you provide some additional information? How did this error happen? A snippet of your code that causes the problem would be very helpful.

[2019-05-06 03:02] aasfaw commented on #593
@nonhermitian this can get a little complicated since we have community-contributed tutorials as well. what is the goal of adding this to tutorials?

[2019-05-06 03:04] aasfaw commented on #562
Closing this since there is an index file in the works and all the content in that paper already exists in our tutorials folder.

[2019-05-06 03:04] #562 closed

[2019-05-06 03:49] rraymondhp commented on #617
Hi @jaygambetta
I added this folder for notebooks that contain exercises corresponding to each tutorial we have.

[2019-05-06 05:05] sampathkumarch commented on #611
sir , thank for given a reply , finally got outpt convert ulog2csv .but i
have small problem in the conversion i have number of csv files but i don,t
need all these all files i need only U V W  values , ax ay ax, P Q R and
eular angles   data how to find it these data please help me sir

On Mon, May 6, 2019 at 8:31 AM Abraham Asfaw <notifications@github.com>
wrote:

[2019-05-06 11:01] jaygambetta commented on #617
ok work with @aasfaw, @attp, and @quantumjim to make it feel like more than one random tutorial.

[2019-05-06 11:01] #617 closed

[2019-05-06 11:06] jaygambetta opened #624 "Add release new features to community/releases folder"
### What is the expected behavior?

For qiskit 0.6 and qiskit 0.7 we released notebooks showing the changes. Do we want to keep this up. If so we need to add it for 0.8 and the recent 0.9 release.

[2019-05-06 11:07] jaygambetta commented on #624
Also for completeness I would rename this notebooks qiskit over terra.

[2019-05-06 18:17] aasfaw commented on #611
@sampathkumarch Can you provide a snippet of your code or maybe a little more description? I do not understand your question.

[2019-05-07 14:01] ismaelfaro opened #629 "two_qubit_kak is deprecated"
### Informations

- **Qiskit version**: 0.10
- **Python version**:  3.6.2
- **Operating system**: OSX

### What is the current behavior?
in the tutorial " [terra/terra_parallel_tools.ipynb](https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/terra/terra_parallel_tools.ipynb)" the line:

`from qiskit.quantum_info.synthesis import two_qubit_kak`

return the error: *ImportError: cannot impo

[2019-05-07 14:30] lerongil commented on #624
I will ask a few of our users through Q summit to see if they saw these release notebooks and, if so,  found them useful. My guess is we might have too much content around releases (blog, new notebooks, change log, release history) and this might be lost in the release process. This is just my guess and I'd like to confirm or deny it.

[2019-05-08 01:41] aasfaw commented on #611
Closing this for now. @sampathkumarch please post again with more description of how to reproduce your problem, and share snippets of code if possible.

[2019-05-08 01:41] #611 closed

[2019-05-08 05:01] UdonDa opened #636 "I want the tutorial of quantum GAN"
### What is the expected behavior?
There are quantum GAN implementations in https://github.com/Qiskit/qiskit-aqua/tree/6004d524c0434cd304ab0472bb7f513b4147a9fb/qiskit/aqua/components/neural_networks.
But, I do not know how to use this implementation.
So, I hope one makes the tutorial.

[2019-05-08 10:52] woodsp-ibm commented on #636
There are updated and new tutorials that have been done the Aqua 0.5 release that includes qGAN. They are in PRs here pending imminent approval/merging here. The relevant one is `Aqua 0.5 update for qiskit tutorials #633` and the tutorial will be in folder `qiskit/finance/machine_learning`.
If you wish, while the approval/merge is pending, you can see the tutorial already on the fork of the repo i

[2019-05-08 16:14] #636 closed

[2019-05-09 11:51] jaygambetta commented on #624
sounds good

[2019-05-09 13:35] nubbyOne opened #640 "Terra Advanced Circuits tutorial link - 404"
### Informations

- **Qiskit version**: 0.9
- **Python version**: 3.6
- **Operating system**: macOS

### What is the current behavior?
New features tutorial for Advanced Circuit cannot be found 404
https://nbviewer.jupyter.org/github/Qiskit/qiskit-tutorials/blob/master/qiskit/qiskit/terra/advanced_circuits.ipynb

### Steps to reproduce the problem
Follow link above

### What is the expected behavi

[2019-05-09 13:48] kdk commented on #640
Hi @nubbyOne , thanks for reporting this! #641 should correct the link to point to https://nbviewer.jupyter.org/github/Qiskit/qiskit-tutorials/blob/master/qiskit/terra/advanced_circuits.ipynb

[2019-05-09 13:53] #640 closed

[2019-05-13 13:57] aasfaw commented on #624
@lerongil should we keep the releases folder?

[2019-05-15 11:05] nonhermitian commented on #593
So the issue here is that we have had our tutorials stripped of their qiskit identification, and represented by others as their own work.  At present we list this repo as being under Apache 2, but only in the readme.  So if someone is pointed to a file from some other location, there is no license information available to indicate that the files are under Apache.  The community contributed ones ar

[2019-05-16 00:03] aasfaw commented on #593
Thanks for explaining @nonhermitian. @jaygambetta this makes sense to me -- I can add the Apache 2 footer if we have consensus. What do you think?

[2019-05-16 20:42] nstamato opened #670 "Broken link in start_here.ipynb notebook"
### Informations

- **Qiskit version**: 0.10
- **Python version**: 3.6.0
- **Operating system**: Windows 7

### What is the current behavior?

In the second paragraph of notebook [start_here.ipynb](https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/start_here.ipynb), the link under [educational material](https://www.quantum-computing.ibm.com/support) returns a 404.

### Steps to reprodu

[2019-05-16 23:56] #670 closed

[2019-05-17 14:19] pittcat opened #672 "some question about reset operation"
### Informations

- **Qiskit version**:
0.10
- **Python version**:
3.7
- **Operating system**:
arch linux
### What is the current behavior?

![reset_test](https://user-images.githubusercontent.com/22888402/57926508-0eed0d00-78de-11e9-9974-67930e6c77a3.png)
As the picture shows,when i execute the circuit on qasm_simulator or ibmq_qasm_simulator ,it works well.But if i excute circuit on ibmqx2 ,ibmq

[2019-05-17 14:25] nonhermitian commented on #672
Reset operations are not currently supported on the devices. Only simulators at present.

[2019-05-17 14:25] #672 closed

[2019-05-17 14:36] pittcat commented on #672
@nonhermitian Thanks for your reply.Is it possible to achieve in the future?I would appreciate it very much if you can share me some paper about the achievement of reset operation just by link.

[2019-05-17 15:09] nonhermitian commented on #672
I can not speak to future work.  However, the devices are constantly improving.

[2019-05-21 14:49] nubbyOne opened #678 "IQX Broken link optimization notebook"
### Informations
IQX beta
- **Qiskit version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Borken link

### Steps to reproduce the problem

Go here:
https://quantum-computing.ibm.com/jupyter/tutorial/optimization/index.ipynb

Click this: "Solve classical optimization (Max-Cut and Traveling Salesman Problem)"

### What is the expected behavior?
Link works

###

[2019-05-21 14:54] fvarchon opened #679 "Terra using_the_transpiler tutorial | transpile circuit drawing is confusing for StochasticSwap pass"
### Informations

- **Qiskit version**: 0.10.1
- **Python version**: 3.7.3
- **Operating system**: windows 10

### What is the current behavior?

Two problems in **Different Variants of the Same Pass** part:
1/ The initial look of the tutorial show drawing of circuit in color. Executing each cell results in a black-and-white representation as style is never defined in this notebook. Not a big prob

[2019-05-21 15:31] nonhermitian commented on #679
Yes, the StochasticSwap returns the circuit in the virtual qubit space of the circuit.  As opposed to the physical space on the device.  See for example #1831.

[2019-05-21 17:03] ajavadia commented on #679
https://github.com/Qiskit/qiskit-terra/pull/2463 should fix this.

the style was made "color" by default after the release. so with the pip release you will get black and white.

[2019-05-22 09:38] lerongil opened #681 "Add a 1 to Start Here tutorial"
### What is the expected behavior?

Right now the `start_here` tutorial shows up last in the qiskit repo, is it possible to add a 1 or something in front of it so it shows up at the top of the qiskit tutorials?

[2019-05-22 11:36] jaygambetta commented on #681
Good idea

[2019-05-22 11:45] nonhermitian commented on #681
It would be nice to also extend this good idea to other tutorials to give the user a sense of logical progression

[2019-05-22 11:56] jaygambetta commented on #681
I have in basic. Working my way through if you want to help 😀

[2019-05-22 15:27] nubbyOne commented on #678
Most (all?) the links in this notebook are broken ... probably because the repo name was changed

https://github.com/Qiskit/qiskit-tutorials/blob/master/community/aqua/index.ipynb

[2019-05-23 01:11] aasfaw commented on #624
I'm going to close this. As Leron said, there are many avenues where this information is duplicated. We have release announcements on medium stating the changes, and our tutorials are usually updated to keep track of the changes. Also, release notes are available in qiskit documentation.

[2019-05-23 01:14] aasfaw opened #687 "Add a readme to community/releases linking to release notes for each version"
Following up from #624, this is a WIP to add a readme to community/releases folder with links to release notes for each version and compile announcements around each version release.

[2019-05-23 02:53] aasfaw commented on #678
@nubbyOne can you please explain? I'm clicking the link that you are referring to (the Max-Cut and TSP notebook) and it works fine for me. Can you please double-check?

[2019-05-23 08:02] UdonDa commented on #636
@woodsp-ibm
Could I ask you?
Where is the training code?
I see your paper and think that this qgan is trained with both quantum generator and classical discriminator.

[2019-05-23 11:07] jaygambetta commented on #624
Then why should we keep it. If we are not going to update I would remove the folder all together

[2019-05-23 13:27] lerongil commented on #624
Forgot to post the follow up here. I spoke to a few folks at Q summit and no one used these release tutorials. This is not to say that they are not useful but they might not be communicated well. I would suggest removing this folder and focusing on our current process of releases:

Blog Post highlighting updates
Updated qiskit-tutorials/qiskit
Changelog
Communication via Twitter/Slack

The more re

[2019-05-23 14:29] woodsp-ibm commented on #636
Did you look at this tutorial here?
https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/artificial_intelligence/qgans_for_loading_random_distributions.ipynb

[2019-05-25 22:03] quantumjim commented on #593
If this is implemented, we'd need to tell external contributors to add to it their pull request. I would expect that this might put people off from contributing (even though it just restates what they agreed to in the CLA), since it seems to give IBM credit for their work.

Is there any possibility that contributors could alter it slightly? For example, replacing the first line with

    # This co

[2019-05-26 23:04] aasfaw commented on #678
This issue has been fixed. Thank you for reporting, @nubbyOne.

[2019-05-26 23:04] #678 closed

[2019-05-27 15:01] UdonDa commented on #636
I miss it.
Thanks!!

[2019-05-28 07:12] zyzhang1130 opened #698 "QFT matrix"
Hi I think there's something wrong with your QFT implementation. This is its corresponding unitary matrix acting on 2 quibits when I used Aer to check:
Circuit unitary:
 [[ 0.5+0.j   0.5+0.j   0.5+0.j   0.5+0.j ]
 [ 0.5+0.j  -0.5+0.j   0. +0.5j  0. -0.5j]
 [ 0.5+0.j   0.5+0.j  -0.5+0.j  -0.5+0.j ]
 [ 0.5+0.j  -0.5+0.j   0. -0.5j  0. +0.5j]]

This is the matrix given in wikipidea:
![image](https://

[2019-05-28 14:03] aasfaw commented on #698
Hi @zyzhang1130 can you please point out the code you used to build your QFT circuit? Did you use Terra? Aqua? Something else?

[2019-05-28 14:09] zyzhang1130 commented on #698
I used online qiskit  from IBM Q experience Beta. Turns out you need an swap gate in front (for the 2-qubit case I used in above). My guess is in general you will need a swap gate but the specific implementation of the swap gate depends on how many qubits you are using.  Out of luck I fixed my 4-qubit implementation.

[2019-05-28 14:11] zyzhang1130 commented on #698
The definition I used is as follows:
def qft(circ, q, n):
    """n-qubit QFT on q in circ."""
    for j in range(n):
        for k in range(j):
            circ.cu1(math.pi/float(2**(j-k)), q[j], q[k])
        circ.h(q[j])

which is from https://github.com/Qiskit/qiskit-tutorials/blob/7bc40e964dec2a37ac5915c3b84c01af9c2ef754/community/terra/fourier_transform.ipynb

[2019-05-28 14:19] aasfaw commented on #698
Hi @zyzhang1130

The QFT implementation requires you to remember to read out the results in reverse order, i.e.
for `q' = QFT(q)`, the qubit order in `q'` is the reverse of the qubits in `q`. As a result, you need to remember to put swaps in.

For a detailed derivation of the QFT, please see [this tutorial in IBM Quantum Experience beta](https://quantum-computing.ibm.com/support/guides/quantum-alg

[2019-05-28 14:19] #698 closed

[2019-05-28 14:22] zyzhang1130 commented on #698
HI, @aasfaw ,

It sounds like a similar issue I raised in IBMQ communitiy forum. Care to have a look? the post is titled 'problem with composer’

Thanks for the help.

[2019-05-28 14:26] zyzhang1130 commented on #698
By the way I compared with the result I obtained by applying IFFT(which is supposedly equivalent with QFT after appropriate scalling) on the same vector (states). It didn't look like just by reversing the read-off order will do the trick...

[2019-05-28 14:38] aasfaw commented on #698
Hi @zyzhang1130

The two are not related. In your community forum post, it looks like you are referring to phases incorrectly. Let's keep this discussion focused on your original post, as I have replied to your question in the community forum there.

It would be useful if you could share your code here so that we can make sure we're doing the same things.

[2019-05-28 14:53] zyzhang1130 commented on #698
B = [1/sqrt(8);1/sqrt(8);1/sqrt(8);1/sqrt(8);1/sqrt(8);1/sqrt(8);1/sqrt(8);1/sqrt(8);0;0;0;0;0;0;0;0];
a=dftmtx(16)/4;
b = inv(a);
Y=a*B
imagesc(abs(Y))

b is normalized hence should be equivalent as QFT on 4 quibits. B is a normalized state. This is matlab code but should be able to easily implemented in python as well.

[2019-05-30 21:12] JanLahmann opened #702 "Quantum-Coin-Game.ipynb does not in interactive mode on binder"
### Informations

- **Qiskit version**: current
- **Python version**: current
- **Operating system**: any

### What is the current behavior?
When starting community/games/Quantum-Coin-Game.ipynb in binder it does not start the RISE interface, which is needed to play the game interactively.

### Steps to reproduce the problem
start https://mybinder.org/v2/gh/qiskit/qiskit-tutorials/master?filepath=

[2019-06-03 03:12] aasfaw commented on #624
Agreed, let's remove the folder.

[2019-06-03 19:32] revilooliver opened #706 "Unable to display qubit properties on "ibmq_20_tokyo" backend"
### Informations

- **Qiskit version**: 0.8.0
- **Python version**: 3.7.3
- **Operating system**: Windows(64_bit)

### What is the current behavior?

I tried to monitor the device information and qubit properties use the following lines:

from qiskit.tools.jupyter import *
%qiskit_backend_monitor device

It works correctly on the "ibmq_poughkeepsie" backend, but for the "ibmq_20_tokyo" backend it

[2019-06-03 19:51] nonhermitian commented on #706
It looks like the device was returning ill-formated data for a bit.  This now appears to be resolved.

[2019-06-03 19:51] #706 closed

[2019-06-07 14:14] #624 closed

[2019-06-07 14:14] #687 closed

[2019-06-12 19:27] kenixer commented on #593
I want to use [Quantum_Cryptography2.ipynb](https://github.com/Qiskit/qiskit-tutorials/blob/master/community/awards/teach_me_qiskit_2018/quantum_cryptography_qkd/Quantum_Cryptography2.ipynb)'s Algorithm in my project. So basically, I want to change, modify, and implement it to my software. How should I include the license? For addition, I'm planning to upload my software to github, with MIT Licens

[2019-06-12 20:31] quantumjim commented on #593
Hi @kenixer. [Here](https://github.com/Qiskit/qiskit-tutorials/blob/master/LICENSE) is the license. The most important part is probably

[2019-06-12 21:13] kenixer commented on #593
Well, I created `NOTICE` directory in my repo, and copied this repo's `LICENSE` file in that directory, and added the comment in the code which says that I modified them. Isn't that enough?

[2019-06-13 17:01] ccpalmer opened #717 "Missing section number."
In the “start_here.ipython” tutorial, there are sections 2, 3, 4, … but no section with number 1

[2019-06-13 17:02] ccpalmer commented on #717
Duplicate ...

[2019-06-13 17:02] #717 closed

[2019-06-18 02:17] jwoehr opened #721 "Dead links index.ipynb"
Most of the links on index.ipynb are dead.

[2019-06-18 03:16] attp commented on #721
@jwoehr there are many index.ipynb files in qiskit-tutorials. which one has the broken links? thanks.

[2019-06-18 03:21] jwoehr commented on #721
Oops, that really was awfully vague, was it not!?

Well, here's one bunch, not even the original page I was visiting, just found these:
https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/chemistry/index.ipynb

[2019-06-18 03:23] jwoehr commented on #721
Lotsa dead ones on this page:
https://github.com/Qiskit/qiskit-tutorials/blob/f21039632328da2bc02c0887d138106ccd44e720/community/index.ipynb#chemistry

[2019-06-18 09:45] quantumjim commented on #721
The problem is that the links are relative, and the file was moved at some point without accounting for this.

[2019-06-18 10:01] quantumjim opened #722 "Placement and coverage of index files"
The index was moved in #621 to become dedicated to the community folder (which also led to the issue in #721).

I think it is import to index the entire repository. If someone wants to look up how to use a given command, for example, it is good for them to be pointed to its uses in the qiskit folder as well as the community folder.

I suggest that we move indexer.py and index.md back out to the to

[2019-06-21 12:40] sznadas opened #725 "INSTALL.md broken link"
The link https://conda.io/docs/user-guide/tasks/manage-python.html is broken from my PC. "you will need to ensure that your versions are managed correctly. "

[2019-06-21 13:03] sznadas opened #726 "INSTALL.md IBMQ.save_account is now different"
See https://qiskit.org/documentation/install.html#install-access-ibm-q-devices-label

from qiskit import IBMQ
IBMQ.save_account('MY_API_TOKEN', 'MY_URL')

MY_URL is also required

[2019-06-22 12:29] marisvs opened #727 "library pyeda required for grover"
### Information

- **Qiskit 0.10.4**:
- **Python 3.7.1**:
- **Windows 10**:

### What is the current behavior?
The notebook community/optimization/grover.ipynb gives an error after the command
[code]
an error message appears that ends with:
AquaError: "Unable to instantiate 'LogicalExpressionOracle', pyeda is not installed. Please look at https://pyeda.readthedocs.io/en/latest/install.html."

###

[2019-06-22 14:34] woodsp-ibm commented on #727
The pydea library cannot be included in the pre-reqs for Windows as there is not an install package that the author provides to do this. The link provided does however have an install section for Windows.

[2019-06-22 21:23] marisvs commented on #727
Suggestion: perhaps add a statement in notebooks where required to warn the user about this pyeda problem

[2019-06-26 00:31] ashsaki opened #730 "ignis - process tomography - memory run-away"
**(The issue still persists if anyone wants to use a larger number of qubit instead of just 1)**
If I re-create the quantum process tomography tutorial in https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/ignis/process_tomography.ipynb with a QuantumRegister() of size greater than 2 (e.g., QuantumRegister(3) or QuantumRegister(5)), the memory runs out (i.e., the program consumes too mu

[2019-06-26 00:49] ashsaki commented on #730
A way around could be using a single qubit register for ideal unitary preparation and a larger register for the generate quantum process tomography circuit with reduced Hilbert space for a gate on a qubit other than 0.
My code snippet:
#####################################################
# Process tomography of a Hadamard gate
q = QuantumRegister(1)
circ = QuantumCircuit(q)
circ.h(q[0])

# Run ci

[2019-06-26 09:29] rfclambert opened #731 "community/Cryptography can be improved"
I was looking at the tutorial in community to create a random number (uniform law), and found the one in Cryptography.

### What is the expected behavior?

I think it should have more explainations in text, and I think the readme is wrong (it says that a circuit with n Hadamard is the same as rolling a n-face dice, but shouldn't it be 2**n-face dice?). Plus, it uses the statevector simulator, with

[2019-06-26 14:25] dcmckayibm opened #732 "Add CR Rabi in Pulse"
Add a CR Pulse into https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/terra/calibrating_a_qubit.ipynb

[2019-06-26 18:20] ashsaki commented on #730
However, memory overflow/run away issue still persists for a larger QuantumRegister.

[2019-06-26 23:51] attp commented on #731
It would be great if you could make the changes you suggest. Let us know if you run into any issues.

[2019-07-03 04:28] nkanazawa1989 opened #735 "DeviceSpecification to PulseChannelSpec"
In the latest master, `DeviceSpecification` class will be deprecated. We should update [calibrating_a_qubit](https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/terra/calibrating_a_qubit.ipynb) tutorial to use new `PulseChannelSpec` class. Also a term _device_ should be replaced by _system_ to align with our new policy.

[2019-07-06 13:32] imvieira opened #737 "This link is broken from index.md: Superposition quantum tic tac toe"
This link is broken from index.md:

Superposition
quantum tic tac toe

[2019-07-13 21:28] ArmandQu opened #739 "Problem in the tutorial dissociation_profile_of_molecule for calling the ExactEigensolver"
### Informations

- **Qiskit version**:
{'qiskit': '0.10.5',
 'qiskit-terra': '0.8.2',
 'qiskit-ignis': '0.1.1',
 'qiskit-aer': '0.2.1',
 'qiskit-ibmq-provider': '0.2.2',
 'qiskit-aqua': '0.5.2'}
- **Python version**: 3.7
- **Operating system**: MacOS 10.14.5

### What is the current behavior?
In the part of the tutorial for calculating the energy as a function of interatomic distance the ExactEig

[2019-07-16 21:53] #739 closed

[2019-07-19 13:31] jaygambetta commented on #722
closing as now its in the community tutorial repository

[2019-07-19 13:31] #722 closed

[2019-07-19 13:40] nonhermitian commented on #725
Yes, it seems they have moved it to:

https://conda.io/projects/conda/en/latest/user-guide/getting-started.html#managing-python

Many thanks for letting us know.

[2019-07-25 04:34] nkanazawa1989 opened #744 "Qubit calibration tutorial needs update"
[calibrating_a_qubit](https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/terra/calibrating_a_qubit.ipynb) tutorial is written in old style.

- need update for API v2.
- measurement pulse is now provided by backend
- bug of duplicated figure ouput has fixed (no need of substitution)
- using `union` instead of `append` is safer (now many commands include additional FCs on u-channels and s

[2019-07-28 13:14] AshhChika commented on #629
I am also suffering from this problem on IBMQ Experience notebook.

Qiskit version: 0.8.2
Operating system: OSX

[2019-07-28 14:00] nonhermitian commented on #629
Yes, that is being updated soon

[2019-08-01 19:36] DavidRHid opened #746 "Add input to QFT"
### What is the expected behavior?
Hi, I am now using QISKit to realize quantum fourier transform. I run the code provided by you in [this link](https://github.com/Qiskit/qiskit-tutorials/blob/7bc40e964dec2a37ac5915c3b84c01af9c2ef754/community/terra/fourier_transform.ipynb).

The input state is set to 000 by default. Is there any methods to change the input to a different value one that can be in

[2019-08-01 23:39] attp commented on #746
Hi, you can use the `initialize` function to prepare an arbitrary pure state.

See this example: https://github.com/Qiskit/qiskit-terra/blob/3a5780b0fe6838acc9b249e781d23d8559e0c3a2/examples/python/initialize.py

[2019-08-05 09:20] yaelbh opened #750 "Fix notebook of Hamiltonian and Gate Characterization"
### Informations

- **Qiskit version**: master
- **Python version**: 3.6.5
- **Operating system**: Linux

### What is the current behavior?

Some outputs are very different from the notebook that's in the repository.

![image](https://user-images.githubusercontent.com/22316088/62453469-0ee10880-b77b-11e9-8533-23f630fa0c8e.png)

![image](https://user-images.githubusercontent.com/22316088/62453501-1

[2019-08-05 14:58] yaelbh opened #751 "Update notebooks with the new IBMQProvider"
What are the instructions for using a local clone of the newest IBMQProvider?  I cloned qiskit-ibmq-provider and am referring to the clone with my PYTHONPATH, nevertheless the code goes to the installed version of ibmq.

[2019-08-05 15:05] nonhermitian commented on #751
I think this is more of a question for the docs in https://github.com/Qiskit/qiskit as the tutorials assume the user has installed qiskit.

[2019-08-05 18:50] yaelbh commented on #751
I need the instructions for myself. I'm trying to adjust Aer and Ignis notebooks to the IBMQ provider that's in the master branch. But I don't know how to run these revised notebooks.

[2019-08-05 19:12] nonhermitian commented on #751
Why not just install the latest qiskit, perhaps in an env. Or you can just drop the provider package into the local qiskit dir

[2019-08-05 21:04] dcmckayibm commented on #750
https://github.com/Qiskit/qiskit-ignis/issues/237

We need to force optimization_level 0 into these or add barriers to the circuit

[2019-08-06 05:52] dcmckayibm commented on #750
Added barriers https://github.com/Qiskit/qiskit-ignis/pull/245, should be able to close this

[2019-08-06 11:07] yaelbh opened #752 "Fix Aer device noise simulation notebook"
The notebook runs two simulators with the noise provided from the device, and the results are quite different from execution of the same circuit on the device. Then comes a paragraph of discussion, explaining where the difference comes from.

Something must have changed, probably the device's statement about its noise is more accurate. The simulation results are different when I run this notebook,

[2019-08-08 06:57] yaelbh commented on #751
Ignis and Aer notebooks are up-to-date with respect to IBMQ, both here and in the community tutorials.

[2019-08-08 06:58] yaelbh commented on #750
Indeed fixed, closing

[2019-08-08 06:58] #750 closed

[2019-08-10 19:13] jaygambetta commented on #292
closing as no longer applicable

[2019-08-10 19:13] #292 closed

[2019-08-10 19:25] #735 closed

[2019-08-11 09:44] nonhermitian commented on #593
This is done.

[2019-08-11 09:44] #593 closed

[2019-08-11 09:45] nonhermitian commented on #730
Can you please post this issue on the Ignis repo: https://github.com/Qiskit/qiskit-ignis

[2019-08-11 09:46] nonhermitian commented on #552
This is resolved

[2019-08-11 09:46] #552 closed

[2019-08-11 09:48] nonhermitian commented on #372
Closing this as it is quite old. And is more or less a question thread as to why things take a long time.  Can be reopened in the Aqua repo if need be.

[2019-08-11 09:48] #372 closed

[2019-08-11 09:49] nonhermitian commented on #571
This is from a while ago, and no response from @pistoia.  If @XBLDev still has some issues, please reopen.